[2020-12-08 13:49] vampywiz17 opened #1 "I think it is that i search for!"
Hello there, Now i use OTGW with espeasy + serial server. If i read correctly, this FW is able to get a more sophisticated method (send datas with MQTT)

It sound good to me!

But i would like to ask some questions.

 My NodeMCU is work really strange with espeasy, when send data with ser2net, the board is not answering from the ping and the web interface is not accessable some sec. I think the re

[2020-12-08 16:07] rvdbreemen commented on #1
I have been using the firmware as it is for a couple of weeks now, and it is stable and capable of sending MQTT data reliable. I have it integrated with Home Assistant, but you could use another platform as your home automation and it should work fine.
The whole reason why I started this firmware is exactly what you experience with easyesp, beyond the fact that I like tinkering with IoT and creati

[2020-12-08 16:08] DaveDavenport commented on #1
I have been using this firmware too for the past weeks and it has been working reliable for me.

[2020-12-08 16:22] DaveDavenport commented on #1
Thanks for putting this online.  It saved me from having to write this myself :D .

I have some things I want to do in future, have not looked at this yet (make a merge request if it is not (yet) possible):

- [ ] Update time on thermostat. (if possible)
- [ ] Set outside temperature via mqtt.
- [ ] Set setpoint via mqtt.

(sorry for hijacking this post, are you on irc or other channel?)

[2020-12-08 17:19] rvdbreemen commented on #1
@DaveDavenport no problem. I have just not have enough time to continue my development. You can find me on https://gitter.im/ to talk on the project.

[2020-12-21 11:51] Marcello1970 opened #4 "Webpages setting page stay's empty."
The software is working, I see the values in in the MQTT broker. About one thing i'm not clear, the webpages:
What can I do with the the web pages? The main pages shows 'Wait! retrieving local messages .....' The settings page shows noting. There is a setting.ini file created, but it only contains the host name. Only the 'FSexplorer ESP' works. Is that right?

[2020-12-21 12:20] rvdbreemen commented on #4
That correct. The settings stuff and the webpages / UI still need to be done, these are the defaults. I am considering to use ESP Dash v3. But that needs some refactoring to an async library set. But once that's done the UI should be lovely too ;-)

[2020-12-24 12:26] #4 closed

[2020-12-24 12:27] rvdbreemen commented on #4
It's a work in progress. The settings code and UI are still not done. Keep tracking the project it will happen.

[2021-01-03 00:19] rvdbreemen commented on #4
@Marcello1970 the setting page is done.  Echt up some sort of UI.

[2021-01-03 00:23] rvdbreemen commented on #1
Ever since version 0.4.x

[2021-01-03 00:34] rvdbreemen commented on #1
Sending commands can done since version 0.4.1

[2021-01-03 00:34] #1 closed

[2021-01-07 13:31] STemplar opened #5 "Implement all known OpenTherm Data-ID's."
Hi,

Is it possible to implement all known OpenTherm Data-ID's? I have a Brink Renovent Excellent 300 HRU/WTW which supports OpenTherm and the ability of parsing ventilation / heat-recovery Data-ID's would be nice.

Greetings,

STemplar

[2021-01-07 18:47] rvdbreemen commented on #5
Love to add those data-id's do you have information on them for me? Because I have implemented all the known Data-ids from the spec I have seen, which is version 2.2. Do you have any documentation on the data-ids for me?

[2021-01-09 10:57] rvdbreemen commented on #5
@STemplar do you know the data-id's we are talking about. I have implemented documented [in the specification 2.2 (link)](https://github.com/rvdbreemen/OTGW-firmware/blob/main/Specification/Opentherm%20Protocol%20v2-2.pdf). Any guidance on the data-id's to be implemented would be needed. And would you be willing to test it for me?

[2021-01-11 15:34] vampywiz17 opened #6 "add encrypted MQTT option"
Hello there,

Now is possible to set the MQTT server via UI and that is wonderful! But now, it only support a unencrypted connection. So if we would like to a secure connection a remote GW, need a relay server locally. (it will be a problem, if that is a weekend house and no any infrastructure, only internet connection)

So please, if possible, add a SSL option to you firmware.

Thanks!

Some exam

[2021-01-11 21:59] rvdbreemen commented on #6
Need to check out: https://arduino.stackexchange.com/questions/72684/how-to-connect-to-mqtt-broker-with-tls

[2021-01-12 01:13] vampywiz17 commented on #6
I read you link, seems to the encrypted but not signed method is easier. Possible that is enough with first step. It good for own MQTT broker.

[2021-01-12 08:41] mlommers opened #7 "Support of DS18B20 sensoren connected to nodeMCU"
It would be great to also support DS18B20 sensoren directly connected to the nodeMCU

-configure GPIO pin with connected OneWire sensors
-read out temp value (per connected sensor)
-sent (each) temp value over mqtt

With the default configuration of the nodo shop configuration, ESPEasy is supported.  However ESPEasy doesn't allow other devices connected to the nodeMCU when it is configured to read

[2021-01-12 09:12] Roos-AID commented on #7
@mlommers I can confirm that the original ESPEasy https://github.com/letscontrolit/ESPEasy does support OneWire sensors. This is my current setup, I even have a pulse counter in my setup (which only works until version August 2019 due to bug in ESPEasy after that.
See :

![](https://user-images.githubusercontent.com/23189475/103454551-a8507900-4ce5-11eb-865b-17ca6b8da28a.png)

In order to make it

[2021-01-12 09:21] mlommers commented on #7
@Roos-AID: strange i couldn't get OTGW up and running with ofther devices configured (or the other way around no temp reading when OTGW configure), after that I also read the comment in the installation manual of nodoshop (dutch) un heading Devices stating "When used for OPENTherm, only 1 device (OPENTherm) may be added here, so leave the positions empty"
Which Version are you using? I'm using the

[2021-01-12 10:24] rvdbreemen commented on #7
@Roos-AID Could you explain to me how you setup the hardwiring. If that's possible with the OTGW hardware, then I can support it. Software-wise it's a very limited memory use, as it is mainly the two-wire library that we need to support DS18B20 sensors.

If you share you hardware fix then I can estimate if it's worth supporting it in my firmware.

[2021-01-12 12:06] vampywiz17 commented on #7
Other idea (but similar with this idea)

External temperature sensor addon (like a DS18B20), not connect boiler but to nodeMCU. it automatically send the external temperature data to a specific OT ID (because it possible to send temperature value via OTGW. HA and other implementation is also do this)

[2021-01-12 12:38] Roos-AID commented on #7
@vampywiz17 I would not recommend to have multiple DS18B20 connected and sending values to OT IDs.  This is only supported for a single outside temperature probe.  All other OT IDs might have a strange effect on the boiler or other connected devices on OT.  I the latest OT V3 there are a couple of OT IDs that are non standard and might be used for other purposes, but you can't predict how the boil

[2021-01-12 12:41] Roos-AID commented on #7
@mlommers The NodeMCU version I use is : mega-20190827 .   This is working for over a year now. The only problem is that sometimes the Wifi connection is lost, but a simple restart solves this.  This might be fixed i a newer version of the NodeMCU.

In order to update the NodeMCU to this version, you must detach it from the OTGW and flash it with full erase first. The you have to make sure that al

[2021-01-12 13:05] vampywiz17 commented on #7
@Roos-AID

I only want to connect one DS18B20 and send it to a correct ID, It affect any problem?

[2021-01-12 21:32] rvdbreemen commented on #6
@vampywiz17 that's what I thought when I was reading the linked page. So, I think we will go for that, it should do in most situations if it works. It's the ONE feature you want and then the project is done ;-)

[2021-01-12 21:55] DaveDavenport opened #8 "Javascript error"
I have updated to latest git (self compiled) and tried latest release v0.6.1 download and i get the follwing javascript error:

on firefox:
[code]
on chrome:
[code]
the page stays empty for the rest.
I checked that the version of the index.js is 0.6.1.

I re-uploaded the spiff.bin

[2021-01-12 22:45] DaveDavenport commented on #8
reflashed the whole nodemcu and it seems ok now.

[2021-01-12 22:45] #8 closed

[2021-01-12 23:26] STemplar commented on #5
Okay, here is the info.

Data-Id Map.otm file from the OpenTherm Testtool v24 (OpenTherm Technical Specifications v2.3b)
[code]

[https://www.opentherm.eu/request-details/?post_ids=1833](https://www.opentherm.eu/request-details/?post_ids=1833)
[code]

Reverse engineered Remeha Data-Id's (only used/valid when MemberID's of 11 is returned with Data-ID 3.
[code]

More info: [https://www.domoticaforum

[2021-01-13 21:34] rvdbreemen commented on #8
@DaveDavenport glad it was fixed.

[2021-01-19 20:08] rvdbreemen commented on #5
@STemplar thank you so much for pointing me in the right direction. I will look at implementing this ASAP. Should not be to hard. Unless information is overlapping with existing MsgID's.

[2021-01-19 20:39] STemplar commented on #5
That should not be the case. The only trick is dealing with those Remeha Data-ID's in the range 128 - 255 if you are implementing them. Those Data-ID definitions are only valid if the Member-ID of 11 is returned with Data-ID 3 i.e. the boiler identified itself as a Remeha device.

[2021-01-19 21:11] STemplar opened #10 "Human readable ASF, RBP-flags, TSP, FHB-values, OEM fault/service codes and the like."
The Remeha boilers (and other brands too) can send fault and parameter codes to the thermostat.  It is done by using the Transparent Slave Parameters. Only Thermostats of the same brand know which fault or parameter codes corresponds with a certain OEM fault code / (TSP) value.

A nice feature woult be being able to make a JSON-file with a crosstab which pairs the OpenTherm values and the correspo

[2021-01-19 21:58] rvdbreemen commented on #10
@STemplar I use a lookup table that does that. I actually used the spec 2.2 for the description of the ID. Is that what you mean? Because I am planning to include all the ID's you provided in the other ticket.

[2021-01-19 23:15] rvdbreemen commented on #5
@STemplar can you test the H/V msgids for me to validate function?

[2021-01-20 18:37] STemplar commented on #5
FYI: Found this OpenTherm Testtool link, it is still active: [http://www.hccp.nl/downloads/OpenThermMonitor.zip](http://www.hccp.nl/downloads/OpenThermMonitor.zip).

[2021-01-20 18:51] rvdbreemen commented on #5
@STemplar thanks for the tool. I downloaded it, it contains interesting documentation. FYI I just pushed the implementatoin of all other msgid's to the dev branch. I will publish a binary release as soon as I am able to test it myself. #weekend

[2021-01-20 19:00] STemplar commented on #5
Hi rvdbreemen,

I want to but can I use the binary for my setup or do I need to compile my own? I've got a slightly differend hardware setup. The classic OTGW hardware with the Recom DC/DC convertor mod. And instead of the MAX232 IC, I connected a ESP8266-12E VCC=5V. On it I run the ESP-LINK: Wifi-Serial Bridge w/REST&MQTT V2.2.3. To use your Nodemcu firmware the only thing I need to do is alterin

[2021-01-20 19:09] STemplar commented on #10
No, I mean these codes:
![Parameters](https://user-images.githubusercontent.com/23719607/105222160-61bea380-5b5a-11eb-9b97-1bbabaec69e3.png)
![Status en sub-status](https://user-images.githubusercontent.com/23719607/105222170-65522a80-5b5a-11eb-8685-adf882c36a4a.png)
![Storingscodes](https://user-images.githubusercontent.com/23719607/105222174-671bee00-5b5a-11eb-97fd-a3e62dcb2fc2.png)
![Blokkering

[2021-01-20 19:10] rvdbreemen commented on #5
@STemplar I did not realize you are not on the NodoShop version. The PIN definition is currently a "defined" thing. So you have to compile it yourself. What I could do is make the pin configurable. That way it could become a simple setting that can be set thru the settings file.

[2021-01-20 19:15] rvdbreemen commented on #10
Aha, so I have not looked at the implementation of the The Slave Parameters. I was focused on the basic message first. But it's definitly something I can consider implementing, as I own a Remeha Calenta myself ;-) I will reopen the issue, and put it back on the backlog.

[2021-01-20 19:56] STemplar commented on #5
First I have to check if the PINs are indeed different. The Nodemcu is outfitted with the same ESP-12 module if I am not misstaken.

[2021-01-20 22:53] STemplar commented on #5
I got this unit: [https://www.dx.com/p/esp-12-esp8266-serial-wi-fi-wireless-module-w-built-in-antenna-compatible-3-3v-5v-for-arduino-2057735.html](https://www.dx.com/p/esp-12-esp8266-serial-wi-fi-wireless-module-w-built-in-antenna-compatible-3-3v-5v-for-arduino-2057735.html)

flash vendor: E0h : N/A
flash devID:4014h
QUAD;8Mbit
crystal:26 Mhz

Flash map 4MB:512/512, manuf 0xE0 chip 0x4014

Flashin

[2021-01-21 17:14] rvdbreemen commented on #5
@STemplar would you consider joining us on Gitter.IN. https://gitter.im/OTGW-firmware/community

[2021-01-21 17:56] STemplar commented on #10
Then you probably have an iSense thermostat too. Check every parameter and option while checking the send and returned Data-ID's. Then you can compile a crosstab.

[2021-01-24 16:06] phoenix-blue opened #11 "Send less data"
Hi,

I have flash the Otgw with this version to interact with HomeAssistant.
I see in the MQTT broker a lot of traffic from the OTGW.
Is there an option to for example remove first the data points that are not available from the Opentherm data?

[2021-01-24 20:22] rvdbreemen commented on #11
@phoenix-blue so the traffic you initially see is the MQTT Discovery, it sends message to the Home Assistant discovery topics.
These message are used to automatically configure the Home Assistant sensors, so you do not need to setup any templates yourself.

But if you do not use Home Assistant, or just want to turn off the MQTT Discovery feature. Then you can safely delete the `mqttha.cfg` from th

[2021-01-29 19:31] suenio opened #12 "Too small password length for MQTT"
I'm using default passwords generated by MQTT Broker integration in HomAssistant. Is there a chance to extend length of MQTT password to something like 96 characters?

[2021-01-29 19:36] suenio opened #13 "Blynk integration - just a thought"
Robert first of all great work on this software. Did you thought about expanding it with integration to Blynk ?

[2021-01-29 20:03] #11 closed

[2021-01-29 20:04] rvdbreemen commented on #12
@suenio I see no problem with a longer password. Didn't know there was a good case for it. Now I know better.
I will add it to the todo list.

[2021-01-29 20:06] rvdbreemen commented on #13
@suenio thank you so much for the compliment. What would I need to do to integrate with Blynk? I do not use that personally, could you give me pointers to relevant information, so I can investigate?

[2021-01-29 20:15] suenio commented on #13
Best to start with blynk is to look at https://blynk.io/en/getting-started. Integration is quite simple however concernig maybe how much it will impact stability of integration with OTGW due to integration library implementation.

I was thinking about ability to expose status and temperature information such way as it will also give ability for non Home Automation users to control their thermostat

[2021-01-29 20:23] rvdbreemen commented on #13
I did a quick scan of blynk. I get what they do, I personally do not like working with cloud-based solutions, simply because I want all data to be mine. But I do get where you're thoughts go this way. It would enable non-home automation users to use the OTGW easily.

Let me think about it. Maybe that would be a separate project all together.

[2021-01-30 14:56] suenio opened #14 "Lost information after wemos restart"
From soem reasons my wemos reatarts 2-3 times a day. There is no significant impact due to that an of course it is no surrprise that after restarting wemos it will lose data capured from OTGW but is it possible to have configurable routine that will execute set of predefined opentherm read commands so rather than wait for thermostat to do so values will be available after wemos restart. I can achi

[2021-01-30 20:46] rvdbreemen commented on #14
@suenio not sure why your hardware resets. The fact that after every restart the data is gone, is because the data is gone from memory. In the nodoshop version, every reset also resets the PIC. So all data in both the NodeMCU and the PIC are gone. You cannot use the commands to fetch data.

The only way to recover after a reset like you suggest, is indeed to store it in flash. But that would cause

[2021-01-30 21:49] suenio commented on #14
Usually it restarts evey 2-3 hours. You are right that most values are back within couple of minutes however for example if my thermostat announces and changes room temperature setopint only 3 times a day there is couple of hours between this value is beeing visible.

[2021-01-31 11:56] rvdbreemen commented on #14
Hmmm, well the data could be persisted in flash. The problem that I have with that is that we would start wearing down the flash, for the persistence of some data. Do you have any idea why it resets? Could you do some logging (on port 23) and show me the reset moment. You could use putty to log. Also what is reset reason on the device information page? And please let me know the reset count in the

[2021-01-31 23:55] suenio commented on #14
First of all my value in reboot_count.txt is 174 and going up after every restart. I think I know what is going on. Looks like when MQTT is setup but with wrong credentials (in my case problem is too short password field size) NodeMCU hangs and restarts. So this is most likely false alram but maybe good would be to handle this as connection error with info about wrong credentials rather than trigg

[2021-01-31 23:57] suenio commented on #14
Here are port 23 logs and last line when restart happens:
[00:48:00][  23656| 23376] processOTGW ( 642): msg=[C: 00:48/1] value=[0000000c]        type[  0] id[  0] hb[  0] lb[ 12]       [READ_DATA       ]      [Status                        ]
[00:48:00][  24008| 23592] handleMQTT  (  93): MQTT State: MQTT try to connect
[00:48:00][  23336| 22944] handleMQTT  (  96): Attempting MQTT connection .. U

[2021-02-01 07:32] rvdbreemen commented on #14
Okay, it sounds like a check that needs to be added, I agree failing to authenticate should not result in a reboot.

So I will mark is as a bug for now, and try to fix it in a future release.

[2021-02-02 11:46] Nauttor opened #15 "No web UI after clean flash 0.7.0 / related to NTP client Loop"
Hi,
I flash both files on the 0.7.0 release on my nodemcu, it flash it as expected with no error. Afterwards I see the OTGW node active and I set the wifi successfully. I can ping it on my network and it response. Then I tried to connect to the web UI via IP address to setup the Mqtt but it does not response, like the web server is not active. Am I doing something wrong?

Thanks

[2021-02-02 16:15] Nauttor commented on #15
OK, After a few hours looking around it, I discover that actually it's a bug.

The problem is that I have all my IoT devices in a segregated Vlan without access to the internet and firewalled. Because of that your firmware try to reach the NTP server, and if it does not reach the server it does not continue loading the web UI and every else it stay in a loop trying to connect to the ntp server.

P

[2021-02-02 16:37] Nauttor commented on #15
Hi,

I see that I can't either set the timezone by hand.

About the Mqtt client I see that it publish all the data like:
homeassistant/binary_sensor/OTGW/........

I know that's for the home assistance autodiscivery etc, but not all the people use HA, I use Openhab, It would be great too to have an option to personalise the MQTT topic, and a check for example to use or not HA automation.

Thanks

[2021-02-02 18:50] Nauttor opened #16 "SendCommand with MQTT"
Hi,

I tried to send OTGW/command CS=52 but nothing happens on the OTGW side, can you explain how can we send commands via MQTT or API.

I tried to send a command from the OTMonitor and it appear in the log as sent but nothing happens, It's like the Nodemcu is not sending the commands.

Thanks

[2021-02-02 19:54] ikkemaniac opened #17 "bug: HA - mqtt topics hardcoded"
The state topics sent to home assistant discovery are hard coded, they should be set the to ```<topic prefix>``` variable

For example
https://github.com/rvdbreemen/OTGW-firmware/blob/379e7358c4c52b71fdab894246ed27f7d5ad2e54/data/mqttha.cfg#L3

[code]
should be:

[code]

This is also true for the home assistant discovery topic. It defaults to ```homeassistant``` but a user has the option to change

[2021-02-06 19:03] ikkemaniac commented on #16
The method you used to send commands is correct. There is no guarantee that the OTGW has successfully received and processed the command due to way the serial communication is setup. Unless the OTGW prodes a reponse on the serial bus, it has not processed it successfully.

Note that the OTGW itself (so NOT this firmware package) should respond to a command sent by replying the same command with a

[2021-02-07 09:14] rvdbreemen commented on #17
Yep, this can be fixed. Give me time, or do a PR.

[2021-02-07 09:17] rvdbreemen commented on #16
@Nauttor indeed the response to a command it is not checked at this point. So the OTGW could have responded with an error for example. So the current release just sends command, and you have to check yourself. I will add this feature in a future release, so you can check what the response was to command.

[2021-02-07 09:21] rvdbreemen commented on #15
The firmware behaves as needed.

Two feature requests:
1. Optional NTP synchronisation. For planned InfluxDB it is a requirement, but I guess we can disable features if dependencies are not matched.
2. Port to ESP32. I could do that ofcourse, then you have to design your own hardware. Do you have a ESP32 version of the OTGW gateway at this point? I have ported another project over to ESP32, so it'

[2021-02-07 11:38] Nauttor commented on #15
Hi @rvdbreemen ,

Thanks for your reply. Let me disagree on the NTP, it does behave as you want to behave, not as it should. The ntp as you said can be a requisite for influxdb to work, but not all the people want to use that feature, the "main" feature of a OTGW wifi node firmware should be give access to the Ser2net or mqtt access to the OTGW. So in order to work the OTGW wifi firmware does not

[2021-02-07 11:44] Nauttor commented on #16
Hi @rvdbreemen and @ikkemaniac,

I see in the telnet debug cli that the command is send, but as I don't see any response and my boiler don't change the state I image the message does not reach the boiler or something happens in between.  As nothing happens when I sent the command via MQTT I tried it connecting the firmware to the OTMONITOR, and I tried again to send the commant from there. I see i

[2021-02-07 14:19] ikkemaniac commented on #16
@Nauttor It's not uncommon that commands have be to send multiple times before they are picked up by the OTGW, this is due to the way the serial communication works.

Now when you DO get a ```CS:52``` response, you should see something happening on the boiler end if conditions in the boiler are right.
My boiler, when it's normal stand-by state, responds within 10 seconds to an acceptable CS comman

[2021-02-07 15:32] Nauttor commented on #16
Hi @ikkemaniac,

Let me reformulate the cuestion as I think I didn't explain it clearly.

My otgw nodoshop hardware works with the Nodemcu and the EspEasy Ser2Net service configured. I can send and receive the commands from the boiler without any issue. However that's not the case with OTGW-firmware 0.7.0. I can read the data sent from the boiler but my commands never reach the boiler.

BTW, the p

[2021-02-07 16:03] rvdbreemen commented on #16
@Nauttor I understand your confusion. I only realized that it might be confusing much later. As the PIC firmware and the ESP 8266 are both firmware.

I am working on an update, that includes a reliable firmware upgrade feature. That's the reason why it's taking a bit longer.

Could you capture some debug log and post it here, so we can see what is going on. Just to make sure I understand, you use

[2021-02-07 21:51] Nauttor commented on #16
@rvdbreemen, When I use the Ser2Net service with the ESPEasy it works, sort of "stable" because as I said my node is far from the AP and sometimes is not 100% stable. I can send and receive without any problem. If I tried with your firmware I can read(receive) from the OTGW but every time sent(transmit) nothing happens on the boiler. I tried several codes like MM=50, CS= 65, etc.  I didn't get any

[2021-02-10 21:09] rvdbreemen commented on #12
fixed in release v0.7.5, up to 100 chars for your mqtt password

[2021-02-10 21:09] #12 closed

[2021-02-10 23:51] tjfsteele opened #20 "Disable option to flash PIC if it is already up to date"

[2021-02-10 23:52] tjfsteele opened #21 "Add password function to settings"
Prevent unauthorised access to NodeMCU/OTGW

[2021-02-11 08:39] vampywiz17 opened #22 "Feature Request - support relay module"
Hello there,

On NodeMCU, a lot of free GPIO is exist if we connect OTGW. I thinking that possible to integrate a relay module, that working pararel with CH state. This state basically is state of the boiler internal pump ON/OFF.

Or if we use two relay, it possible the do the same with H2 parameter.

The Reason is that lot of boiler not support official relay module (some yes, like Baxi) and in t

[2021-02-11 20:34] rvdbreemen commented on #15
You have a good point. I will add a NTP enable/disable feature in a future release.

[2021-02-11 20:52] Nauttor commented on #15
![6a00d8341c7a9753ef016302a843b9970d-800wi](https://user-images.githubusercontent.com/17730164/107697231-40f9f180-6cb3-11eb-9928-99d91c5a7faf.jpg)

Hahahaha, thanks for your consideration :)

[2021-02-14 18:37] rvdbreemen commented on #15
Feature will be in 0.7.6, currently in dev. Added another much wanted feature, enablement of setting up the TZ itself.

[2021-02-14 18:37] #15 closed

[2021-02-14 20:23] Nauttor commented on #15
@rvdbreemen , the ESP32 port milestone appears as 100% complete it's an error or the 0.7.5 will be esp32 compatible?

[2021-02-14 20:28] rvdbreemen commented on #15
That's a mistake. As I closed this ticket because of TZ not of ESP. I will try and correct it.

[2021-02-14 20:29] rvdbreemen opened #24 "Port to ESP32"
Port to ESP32 compatible chips'.

[2021-02-15 22:17] rvdbreemen commented on #16
Hmmmmm @Nauttor that's strange. I will have to investigate myself a little more. Sorry about the delay, been working on the update of the pic firmware, before I solve other issues.

[2021-02-15 22:20] Nauttor commented on #16
Don't worry I'll try to replicate it with 0.7.5.

[2021-02-16 18:10] tjfsteele opened #25 "Display gateway messages in real time"
Display messages as they come in (see otgwmcu)

[2021-02-17 11:16] #20 closed

[2021-02-17 11:16] tjfsteele commented on #20
Fixed using GetVersion()

[2021-02-20 15:07] PvdGulik opened #26 "Time is one hour behind"
Hello,

Is seems that the OTGW-firmware is a hour behind. Due to DST-setting?
I don't know where is get its time from, but all my other ESP's get the right time.
And the boiler time is also correct.

Thank you!

[2021-02-21 09:26] PvdGulik opened #27 "Option to switch off blinking blue status led"
Is it possible to create an option to switch on/off the blinking of the bleu status led?

Thank you!

[2021-02-21 09:32] rvdbreemen commented on #27
Yes, we can.

[2021-02-21 13:16] rvdbreemen commented on #26
Check your settings page, there you can setup the correct timezone. It does DST correctly.

[2021-02-21 13:18] rvdbreemen commented on #26
I reopened, to wait for confirmation that it works correctly. @PvdGulik

[2021-02-21 13:19] rvdbreemen commented on #27
Added it to the dev branch. Will be in next binary release.

[2021-02-21 13:20] #27 closed

[2021-02-21 13:25] PvdGulik commented on #26
Sorry, but where in the settings page?
There's no option... See picture.[cid:F6983424-0F20-4DEA-9736-292D7E52AA92]

Thank you!

vriendelijke groet,

Pieter

Op 21 feb. 2021 om 14:17 heeft Robert van den Breemen <notifications@github.com> het volgende geschreven:

﻿

Check your settings page, there you can setup the correct timezone. It does DST correctly.

—
You are receiving this because you auth

[2021-02-21 14:23] rvdbreemen commented on #26
I think I know what's going on. Sorry about that. In the dev release there is a setting.
And I just found that sometimes there is DST and sometimes it's not.
It's under investigation.

Thanks for reporting this @PvdGulik

[2021-02-22 09:44] PvdGulik commented on #26
Solved in v0.7.6, thanks!

[2021-02-22 19:24] rvdbreemen commented on #26
fixed in v.0.7.6 and beyond

[2021-02-23 23:18] rvdbreemen opened #29 "Bug in sending commands"
Hi,

How can I configure OTGW settings using MQTT (especially room setpoint)? Retrieving values is working fine but how do I set them? If I publish something to, for instance, OTGW/TrSet nothing happens.
I am using home assistant, MQTT auto discovery works fine but it seems also here only sensors are added and nothing to actually control the thermostat or am I missing something?

Thanks!

_Origina

[2021-02-24 07:21] rvdbreemen commented on #29
fixed in v0.7.7

[2021-02-24 07:21] #29 closed

[2021-02-24 19:31] PvdGulik commented on #26
Hello,

It seems that problem is not totally resolved.
This morning (ca. 9:30) after updating to lateste version 7.7,
the NTP timezone was CET,and time was correct.
Now, at 20:30 the timezone has changed by itself to Europe/Amsterdam and is one hour behind again....

[2021-02-24 19:40] rvdbreemen commented on #26
Hi @PvdGulik thanks for reporting back. I am hunting that bug, not sure why it is happening. The simpel fact that it changes from CET to Europe/Amsterdam is telling me that it is switching to the default setting, which is now Europe/Amsterdam.

The one hour behind is really weird, as my timezone is setup exactly the same and reporting the correct time.

Hmmmm, what is going on.

[2021-02-24 20:14] rvdbreemen commented on #26
@PvdGulik

Well, I changed around some stuff in the dev branch. Now it will not try to be smart anymore and detect the timezone. I will now just accept whatever you decide the Timezone is.

Could you please verify this version? Let me know if you need a binary to test it.
Thanks
Robert

[2021-02-24 21:59] rvdbreemen commented on #17
@ikkemaniac fix in dev stream of v0.7.8
- hardcoded state topic now flexible
- added homeassistant prefix at the same time
- adding setting in webUI

[2021-02-24 21:59] #17 closed

[2021-02-24 21:59] PvdGulik commented on #26
Yes, no problem to test. Where I can find the new version of the ino.bin?

[2021-02-24 22:03] rvdbreemen commented on #26
Here it is:
[OTGW-firmware.ino.bin.zip](https://github.com/rvdbreemen/OTGW-firmware/files/6039111/OTGW-firmware.ino.bin.zip)

[2021-02-24 22:50] PvdGulik commented on #26
Hello Robert,

I installed the new bin, set Timezone to CET, and saved.
Time was 1 hour behind. Reboot.
After reboot Timezone is set back to Europe/Amsterdam, but time is correct.
I set timezone back to CET, save but won't reboot.

Report you the results tomorrow.

Pieter

[2021-02-25 07:52] PvdGulik commented on #26
Hello Robert,

8:51 Time is still correct, but timezone is back to Europe/Amsterdam.

I'll wait a couple of hours, keep you informed of any changes.

[2021-02-25 15:01] ikkemaniac commented on #17
nice, i'll have a look and test next weekend!

[2021-02-25 19:16] rvdbreemen commented on #26
Sounds like it is fixed so far ;-)

[2021-02-25 19:16] #26 closed

[2021-02-28 22:32] rvdbreemen commented on #21
This could be an improvement for a future release. Threat model is that you have someone in your network that has access to your firmware. This could flash firmware (esp8266, pic) or setting commands to the gateway.

[2021-02-28 22:33] rvdbreemen commented on #16
@Nauttor has your problem with sending commands been fixed?

[2021-03-01 20:31] rvdbreemen commented on #14
Changing the reconnect to MQTT to 4 seconds, so the watchdog does not reset the device. This should prevent the resetting when disconnected. Thanks to @sjorsjuhmaniac point out the obvisous. And to @tjfsteele for finding the same thing in another testing frenzy.

[2021-03-01 20:31] #14 closed

[2021-03-07 01:45] rvdbreemen commented on #27
it's in release v0.8.0

[2021-03-08 10:51] renehonig opened #30 "MQTT publishing intervals"
@rvdbreemen et. al., thanks a lot for your efforts on this nice project, much appreciated!

In the current setup values are published to the MQTT server at a pretty high frequency (multiple times/sec). This is nice for debugging, but puts quite some load on the system and is probably not really necessary for most users.
Would it be an idea to set a publishing interval on the data (e.g. every 30 se

[2021-03-08 11:03] rvdbreemen commented on #30
@ReneHonig the MQTT topics are generated based on the incoming OT message, they are publish as they come in. Some msg translate in multiple updates (like the status message). The frequency of those message I do not control at this point. I understand what you are asking for, a "rate limited" publishing. However this would change the 'realtime' nature of the current design. A 'flame' status could b

[2021-03-09 21:48] rvdbreemen commented on #30
I played around with pushing on change model. Thanks to Sjors for putting it in my head to try. But I am running into a wall. The publishing of topics only on change will not work in the end, as you could have setpoints that would only be published once.

For now I don't see the value of intervals or the push-on-change only, as the sideeffects are not things you want.

If you don't want to topics,

[2021-03-10 22:21] rvdbreemen commented on #30
@ReneHonig thanks for the links. Looks interesting indeed, it's definitly something to investigate. Also it seems to the project is very simlar to what I am trying to do, it's for the EMS bus, so I have to investigate.

I can look at what he did, and then reconsider the solution I take.

[2021-03-14 14:10] rvdbreemen commented on #7
Added in release 0.8.1 by @sjorsjuhmaniac

[2021-03-14 14:10] rvdbreemen commented on #7
@mlommers issue closed

[2021-03-14 18:34] nygellyndley opened #31 "Feature Request - LED control"
Would it be possible to add some control over the LEDs?

I have the Nodo OTGW in the clear case + NodeMCU.  There are 3 LEDs that flash non-stop, one green one on the board and two blue ones on the MCU.

The green one isn't so bad but the two NodeMCU ones are pretty aggressive.

Perhaps some option to disable the flashing, or reduce the brightness or  rate?

[2021-03-14 19:32] rvdbreemen commented on #31
@nygellyndley you can turn off the blue ones simply by going into settings "Heartbeat LED (on/off)". Just uncheck this setting and the two blue leds are turned off. You will miss out on troubleshoot information and the heatbeat. But in some cases that's fine.

To turn off the other led (like the green one), use the PR=L command.

[2021-03-14 19:32] #31 closed

[2021-03-14 20:27] DaveDavenport opened #32 "MQTT broke?"
I flashed latest version (0.8.1).
I decided to do a clean update, so erased the flash, flashed both files of the 0.8.1 using the command from the wiki.

Logged into wifi, configured wifi.
Rebooted and logged into web and configured mqtt and the others.
I can see the webinterface,  under device info it indicates it is connected to mqtt.

I don't see anything published to mqtt, also otmonitor cannot

[2021-03-14 20:54] rvdbreemen commented on #32
@DaveDavenport could you downgrade to version 0.8.0?

[2021-03-14 20:55] rvdbreemen commented on #32
@DaveDavenport also to what port are you connecting for OTmonitor?

[2021-03-14 20:58] DaveDavenport commented on #32
aah that works. did that change?

I can see in my mqtt server logs it does connect to the server.
It also pushes the homeassistant settings (I don't use)
[code]

but nothing under `OTGW/#`

Ill try downgrade.

[2021-03-14 21:02] rvdbreemen commented on #32
@DaveDavenport yes it changed in v0.7.1

What version where you using before?  The way it works has changed in version v0.8.0. That has been an breaking change. The OTGW now published its topics under it's device. By making it unique it can actually work with multitple OTGW's on a single hub.

So what are you using as your home automation platform? Are you depending on the toptopic ('/OTGW'). If y

[2021-03-14 21:07] rvdbreemen commented on #32
The format for the mqtt topic is now:
- /OTGW/value/otgw-<uniqueid>/<topics>
- /OTGW/set/otgw-<uniqueid>/command/<command>

I just realized that I need to update the documentation to match.

[2021-03-14 21:09] rvdbreemen commented on #32
So the auto discovery templates are pushed...

That's weird, you should see values under the value topic, except that now you have the unique identifier in between.

You have to drop to a release below v0.8.0 to not have the unique id's.

Please let me know if that worked for you.

[2021-03-14 21:10] DaveDavenport commented on #32
Yeah, I was many releases behind.
That and I saw the breaking change, so I did a complete clean flash.

As I mentioned I did not see anything on `OTGW/#'.  But I will look further down the chain.

[2021-03-14 21:12] rvdbreemen commented on #32
You should see topics published under /OTGW/ though. So I wonder what's going on. Could you verify v0.8.0 for me, I overlooked something in v0.8.1

[2021-03-14 21:17] DaveDavenport commented on #32
I feel a bit stupid now, it works..  (maybe I should stop doing this in the evening)....

But I cannot explain it;  I saw that I was getting weird sockets errors in my mosquitto daemon.. realized was on an old version, so upgraded the daemon..
now it works.

Weird thing is I have everything going via mosquitto, and everything worked fine (my log files confirm this) except otgw.
I am confused af, b

[2021-03-14 21:17] #32 closed

[2021-03-14 21:18] rvdbreemen commented on #32
@DaveDavenport well no problem. Better you come and reporting an issue, than having a broken release. You are welcome to join the Discord to chat realtime next time. Just go here: https://discord.gg/gRVUQBKHbp

[2021-03-14 21:19] DaveDavenport commented on #32
I bought you a few beers! thanks.

[2021-03-15 08:48] PvdGulik opened #33 "Alway needed to update mklittlefs with update OTGW-firmware?"
Thanks for again a upgrade, good work!

What I wonder is if it is necessary to always update mklittlefs while update OTGW-firmware.
I don't think so, only after updating to 0.7.2. Maybe you could mention that in the readme file.
This wil prevent need to download your settings, because updating mklittlefs loose your settings.

Thanks!

[2021-03-15 08:51] PvdGulik opened #34 "Changing settings needs reboot"
After changing settings, I found out I have to reboot. Obviously, but is not mentioned. Maybe good suggestion?

[2021-03-15 09:31] PvdGulik opened #35 "Disable un-used MQTT-messages"
Is there a possibility to mark out all the MQTT topics you don't use/need?
E.g. my boiler does not support cooling, but OTGW Firmware does send out the MQTT messages:

[code]

I tried to disable them in mqttha.cfg, but no succes

Thank you

[2021-03-15 12:58] rvdbreemen commented on #33
If I remember correctly there always have been updates and fixes to the javascript and mqttha.cfg as well. This is due to the fact that the settings are slowly being expanded. This causes updates to the data on the littlefs filesystem. If you do not want to setup your device each time, you can download the settings file (*.ini) and just flash the binary littlefs and upload the *.ini afterward, and

[2021-03-15 12:58] #33 closed

[2021-03-15 12:59] rvdbreemen commented on #34
Do you know what settings did not work for you? I could even force a reboot, but so far I have not done that on purpose.

[2021-03-15 13:02] rvdbreemen commented on #35
The reason they are send out is that they are part of the status byte message, I have no way of know if a system has them or not, they are just part of the protocol.

I am not planning to leave them out at this point or making it configurable. Besides a bit of bandwidth waste.

[2021-03-15 13:02] #35 closed

[2021-03-15 18:36] PvdGulik commented on #34
I'm not sure but it looked that the setting "MQTT OT msg Enable" does not respond.
But after reboot I found also no difference. So maybe it does something different.

What its supposed to do?

[2021-03-15 19:22] rvdbreemen commented on #34
The MQTT OT message enabled prevents the OTmessage topic to be published every second.

[2021-03-15 19:26] rvdbreemen commented on #34
@PvdGulik just checked the settings update code, to see what value would required updates. But only the sensor code might need an update after updating. All other fields, as far as I can tell only need an update. And should be in effect instantly.

[2021-03-15 19:30] #34 closed

[2021-03-19 16:28] joostvanmourik opened #41 "Upgrade PIC Failed"
HI trying to upgrade the PIC trough the web interface, nothing happens and the telnet session displays this 👍
13:35:43][ 17304| 15968] upgradepic (1251): Action: upgrade gateway.hex 5.1
[13:35:43][ 16584| 15968] upgradepicno(1150): Start PIC upgrade now.
[13:35:53][ 18296| 16304] fwupgradedon(1165): Upgrade finished: Errorcode = 9 - 10 retries, 0 errors
[13:35:54][ 18296| 16304] resetOTGW ( 65): R

[2021-03-19 23:46] rvdbreemen commented on #41
Well, the errorcode 9 = too many retries. I have no idea why it failed, it complains about retry's. So for some reason it cannot write to the PIC.

Do you really need to upgrade to 5.1? Most functionality just works with 4.3 already. The upgrade function has been integrated because people tried OTA upgrade of the PIC, which is a bad idea. However its now so simple that people upgrade because they

[2021-03-19 23:46] #41 closed

[2021-03-20 20:14] sjorsjuhmaniac commented on #22
@vampywiz17 , what is the H2 parameter? Did you mean CH2?

[2021-03-22 09:33] vampywiz17 commented on #22
@sjorsjuhmaniac

Yes, CH2 (second heating cycle)

[2021-03-22 12:51] PvdGulik commented on #35
Hello Ruud,

I'd liked to reopen this issue, or maybe open a new issue.
Due to the large ammount of OTGW messages it looks like Domoticz is running out of memory which ends in a Domoticz Crash.
The problem is that slowly the memory increases, and, after 12 hours, a crash. This process cycles every 12 hours.

I use OTGW-Domoticz-MQTT-Client from proditaki to get the MQTT messages from OTGW Firmware

[2021-03-22 12:56] DaveDavenport commented on #35
Isn't this more of a Domoticz (or OTGW-Domoticz-MQTT-Client) issue?   reducing the amount of messages won't 'solve' domiticz bug, but just slow down the point time it takes to run out of memory?

[2021-03-22 14:12] joostvanmourik commented on #41
HI @rvdbreemen not at this moment but i thought maybe you like to know the errors. 4.3 Seems to work fine for now, i can see all values in HA but i cannot alter the temperature in ha with the Climate instance. Is that by design because my Nest is stil the master ?

[2021-03-22 15:29] PvdGulik commented on #35
It's only with this hardware. That's why I started with a issue at OTGW-Domoticz-MQTT-Client from proditaki.
He asked me to issue this here.

[2021-03-22 22:39] sjorsjuhmaniac commented on #41
It's definitely not by design. The equipment matrix shows that the Nest v3 OT doesn't support ID9 which is ..... remote room temp (setpoint) override
http://otgw.tclcode.com/matrix.cgi#thermostats

[2021-03-22 22:51] sjorsjuhmaniac commented on #35
@PvdGulik, I hate to tell you but this looks like a memory bug in Domoticz or the plugin as @DaveDavenport already mentioned. Even if the messages would be reduced it might not fix your issue but just postpone it.

For now, you can reduce the amount messages by
- unchecking the `MQTT OT msg Enable` option on the config page.
- going to the File explorer, downloading mqttha.cfg, removing all entiti

[2021-03-23 07:26] joostvanmourik commented on #41
Could it be something is wrong with the PIC (soldering) or shouldnt i see any information in that case.

[2021-03-23 19:41] sjorsjuhmaniac commented on #41
For not being able to change the thermostat setpoint: no.

For the flash error: i'm not an hardware expert. Note that there's a whole '[debugging](http://otgw.tclcode.com/debugging.html)' page over at otgw.tclcode.com that describes various things you can check.

[2021-03-25 15:39] PvdGulik commented on #35
First I tried is the "unchecking the MQTT OT msg Enable option on the config page"
I'll report tomorrow the result.

Next step will editing mqttha.cfg.

Keep you informed.

[2021-03-25 20:56] rvdbreemen opened #42 "Make unique id a setting"
For integration with OpenHAB it would be great to have a "flexible" way of making unique a setting, to prevent a lot of configuration when changing out NodeMCU's.

[2021-03-25 20:57] rvdbreemen commented on #16
@Nauttor think you will like release 11th v0.8.2 it contains command queue for all msg via MQTT. Please validate the function for me.

[2021-03-25 20:57] #16 closed

[2021-03-25 22:45] Nauttor commented on #16
Hi @rvdbreemen , I've been working offshore the last month, so it's difficult for me at the moment to test it, I'll hope to be at home soon. Thanks for your effort, I'll test it as soon as I return. Best regards

[2021-03-27 09:40] PvdGulik commented on #35
Well, that didn't solve anything, same result ;-(
I'll try editing mqttha.cfg

[2021-03-27 11:34] PvdGulik commented on #35
Oke, I've edited mqttha.cfg. I disabled all with // at the beginning of the line.
Then only actived the ones I use and rebooted. Also in Domoticz all the devices created which I don't use are disabled.

After reboot Domoticz and OTGW NodeMCU, still 34 Sensors and Switch which I don't use in Domoticz are updated on regular basis. 15 of them are updated every 3 seconds.... Why?

These are:
1345 | OT

[2021-03-27 13:00] rvdbreemen commented on #35
I think @proditaki needs to look at the domoticz plug-in. As your memory issue is not cause by the messages itself. Reducing the number of message will only delay the problem.

The root cause needs to be addressed.

The sensors and switches are generated based on the specification.  As the setup is generic and standard based. It generates topics based in the messages that are being send.

It’s als

[2021-03-27 16:04] glsf91 opened #46 "Add NTP hostname"
First: complements for your software. It is looking very nice.

Would it be possible to add a configurable NTP hostname?
Or use the gateway address if the NTP server is not reachable.
After a firewall NTP is not working now.

[2021-03-27 18:06] rvdbreemen commented on #46
Well, you can just turn off NTP thru the setting if you are running behind a firewall. I’ll consider this a feature request. Because it can be done.

[2021-04-03 17:09] rvdbreemen commented on #42
In release 0.8.3

[2021-04-03 17:09] #42 closed

[2021-04-03 17:09] rvdbreemen commented on #22
@sjorsjuhmaniac added the gpio ot hook feature, it will be in releas v0.8.3

[2021-04-03 17:09] #22 closed

[2021-04-05 15:18] glsf91 opened #52 "No updates in WebUI"
I'am using 0.8.2+095b077 (25-03-2021) but the values in the Web UI are still not updated.
For example: Room Temperature Setpoint is still 20.5°C, even if I see other values in Domoticz (using LAN interface) if I change the setpoint on the thermostat.

[2021-04-05 19:08] rvdbreemen commented on #52
I thought we solved this in 0.8.2. Can you share some more detail? Does the binary sensor values change, like flame status? In the WebUI?

[2021-04-05 19:41] rvdbreemen commented on #52
The WebUI does update with my setup. So I wonder what the exactly your setup and steps to reproduce are. Could you share some debug logging, just telnet to port 23 and log for a while. Try changing the setpoint on your thermostat. And let me know what's going on.

[2021-04-06 06:19] glsf91 commented on #52
Flame is also not changing. I don't have MQTT enabled.
Debug logging:

[code]

But after refresh Web GUI is see also:

[code]

Last part is repeating a lot.

Part of logging where I changed thermostat to 21 degrees:

[code]

[2021-04-06 06:55] rvdbreemen commented on #52
Did you update the LittleFS with the one from the repo?

[2021-04-06 07:08] glsf91 commented on #52
No. I used https://github.com/rvdbreemen/OTGW-firmware/wiki/How-to-flash-the-binary-release-to-your-ESP8266-NodeMCU
I did not have a previous install on this nodemcu. It was a first time flash.

[2021-04-06 07:21] rvdbreemen commented on #52
Thanks for sharing the logs. I think I have an idea what is going on.

1. So it looks like you have updates correctly. If you get no error message in the webui on the left bottom the firmware and littlefs filesystem are in sync.
2. Also you use the serial2net connection from Domoticz to control the OTGW.
3. In the logs are you can see that Domoticz sends several commands, one of which is PS=1.
See

[2021-04-06 08:01] glsf91 commented on #52
Ok thanks.
Maybe add this to the wiki  (https://github.com/rvdbreemen/OTGW-firmware/wiki/How-to-use-it-with-Home-Assistant-or-Domoticz-or-others under Serial 2 network)?

It is also a  little confusing a page is showed with is not updated. Maybe better to not show this page because values are not right.

[2021-04-06 10:07] rvdbreemen commented on #52
I agree with you that the documentation needs updating. Your feedback is much appreciated on this issue. I will take an action to improve the documentation and consider a way to disable the webUI when moving to PS=1 mode.

[2021-04-06 13:38] glsf91 commented on #52
Does this also mean there is no reason for my current use to use your firmware because it is not doing anything else then espeasy also can do (just een serial to net converter) ?
Only maybe that I can update the PIC firmware with your software.
Yes, I know there is another plugin for Domoticz :-)

[2021-04-06 16:33] rvdbreemen commented on #52
If you are happy with easyesp. Then by all means use that.

Just know I this project to replace easyesp in the first place. I was having big issues with ser2net function. And it made a lot of sense to implement parsing on the esp so that I no longer need to depend on other solutions to create MQTT or to depend on a serial connection over WiFi.

That’s how the project got started. It’s wat works fo

[2021-04-06 21:54] STemplar commented on #5
I checked all Data-ID's and missed some bit descriptions:

[code]

[2021-04-10 13:47] mlommers commented on #7
just got a new nodeMCU to try this firmware on. Installed OTGW-firmware and connected a DS18B20 sensor. Configured MQTT and checked "GPIO Sensors Enabled" to true
However I don't see the vallues passing by over MQTT.
I didn't connect the nodeMCU on the OTGW board, but i won't expect that that is needed. Correct?
I also noticed that after reboot the "GPIO Sensors Enabled" is no longer checked.
Any

[2021-04-10 16:41] rvdbreemen commented on #7
Hmm, will have to dig in and find out what is going on. But the detection of the sensor is only during reboot, but you say the “enable” is turned off after reboot.

So not sure what is going on here.

[2021-04-10 18:16] mlommers commented on #7
Could it be that the enable is turned off when no sensors are detected?
Now it is working, the sensor is found on startup, en the enabled stays on after reboot. however the interval time is not pertained after reboot and fallsback to 5 seconds

[2021-04-10 18:22] rvdbreemen commented on #7
Not sure what’s going on. And not near my laptop this weekend so now way of checking. But glad it’s working now for you.

When I get back, I’ll check out what is going on with the interval setting. For now 5 second will have to do. I’ll fix that once I get to it. I’ll reopen this issue just to make sure.

[2021-04-10 18:57] sjorsjuhmaniac commented on #7
Correct, is not needed.

This is not by design but could happen if there are no sensors detected on boot AND something triggers saving the config (because all current VAR states will be written to the config file when that is called). This is the error you should see if there are no sensors detected and this feature is disabled until the next reboot (or not if something or someone triggers a 'save

[2021-04-10 19:01] sjorsjuhmaniac commented on #7
@mlommers pls share the full log from a reboot where this behavior happens.

[2021-04-11 09:08] mlommers commented on #7
@sjorsjuhmaniac: thanks for your extensive explenation. I think you are right, at the start somehow the sensor was not seen turning the enabled into false which is shown in the settings UI aswell. In the settings.ini the variable was still true until I or something else triggered the save settings.
In the end I got the sensor working ans I didn't see the problem with the enable variable anymore.

[2021-04-11 10:18] rvdbreemen commented on #7
And @Roos-AID just did a PR to fix that for the next release.

[2021-04-11 12:47] sjorsjuhmaniac opened #54 "GPIO Output Uses GPIO Sensors interval"
Right now 'output sensors' use the the GPIO Sensors Interval setting.
https://github.com/rvdbreemen/OTGW-firmware/blob/05df1bdbf92b30836071d51893bc7f50ceb85f9d/OTGW-firmware.ino#L38-L39

Although probably not a real issue, this can cause strange/unexpected behavior.
I suggest to create a new interval var for the ouputs and remove the TODO line upon completion.

[2021-04-11 14:22] rvdbreemen commented on #54
I will check what it the correct lines of code. This needs cleaning up.

[2021-04-12 15:33] rvdbreemen commented on #54
Removed the interval completly. It should not be an constant, it should just follow the status bit. I moved the evaloutput() to background task. That way it will always be run, when enabled.

[2021-04-12 15:33] #54 closed

[2021-04-20 20:30] EdwinD007 opened #56 "NodeMCU not accesible when mounted on OTgatewayboard"
Hello Robert,
Very good you're busy with the OTGW firmware. I've used it for two week with pleasure.
2 months ago I ran in some problems. I started when I wanted to upgrade the PIC to fw 5.1. I assumed I bricked the PIC as the Nodemcu works fine dismounted, but seems to reboot every 15 sec when mounted on the OTGW board. So first I sent the PIC to NODO and they were so kind to put fw 5.1 on it. Bu

[2021-04-20 20:56] rvdbreemen commented on #56
Hi Edwin,
Well, you are the first to report an issue like this.

Did you try flashing a fresh copy of v0.8.3 bin files to your nodemcu? As you seem to have gone back to R147.

Also do you have some debug log information? You can capture that with a telnet to port 23.

If you enter a reboot loop, what do the two blue leds do? Do they blink, does it get stuck?

There is a watchdog reset that actuall

[2021-04-21 09:48] EdwinD007 commented on #56
Hi Robert,

Thanks for responding that quick and your help.
Yes flashed the 2 files of v083. Also tried erase first, and then a fw flash.
Good point about the telnet. I got some information;
================
[00:00:11][  16120| 15144] checklittlef( 591): Check githash = [2fa1f1f]
[00:00:11][  15080| 13848] initOutputs (  18): inside initOutputsO1...
[00:00:11][  15080| 13848] initWatchDog( 172): S

[2021-04-21 21:30] rvdbreemen commented on #56
Hi Edwin,

Thank you for your patience... Let's keep debugging then.  So please read [the explain on the LEDs](https://github.com/rvdbreemen/OTGW-firmware/wiki/The-meaning-of-the-blue-leds---debug-setup-phase-and-normal-operation),

As far as I can tell you have a correct behaviour when NOT connected to the OTGW hardware. Then it is disconnected it ends up blinking the LED1 (heartbeat/watchdog) wi

[2021-04-21 21:37] rvdbreemen commented on #56
@EdwinD007 one more request: please link the direct message on the tweakers forum. As the place you pointed me back at was from 2014 or so, that cannot be related to my firmware, as it only exists since the pandemic ;-)

[2021-04-26 14:03] rvdbreemen commented on #56
@EdwinD007 And any progress?

[2021-04-26 15:47] EdwinD007 commented on #56
Hoi Robert,
Ik ben nog niet verder. Ben momenteel weekje weg. Dus ga volgende week weer
verder. Ik snap er nog steeds niets van want het heb goed gewerkt. Laatste
testen waren overigens zonder boiler en thermostaat aangesloten.
Bedankt voor de support zover. Als ik meer debug info heb stuur ik even een
post.
Groetjes Edwin

Op ma 26 apr. 2021 16:03 schreef Robert van den Breemen <
***@***.***>:

[2021-05-01 13:07] rvdbreemen commented on #52
Todo: Documentation updating explaining the classic integration effect. Next release will contain PS=1 detection.

[2021-05-01 13:09] rvdbreemen commented on #5
@STemplar will be fixed in next release 0.8.4. Thanks for checking all codes for me ;-) Checkout dev-ventilation for all msgids that where missing. Still need to redo the home assistant integration, but it's all there now as far as I can see.

[2021-05-01 13:10] rvdbreemen commented on #5
here: https://github.com/rvdbreemen/OTGW-firmware/tree/dev-ventilation

[2021-05-02 16:17] rvdbreemen commented on #52
A small improvement in 0.8.4 with a detection of PS=1. Documentation updated.

[2021-05-02 16:17] #52 closed

[2021-05-02 16:24] rvdbreemen commented on #7
Fixed in release v0.8.4

[2021-05-02 16:24] #7 closed

[2021-05-02 16:25] rvdbreemen commented on #5
@STemplar I think I fixed all the missing bits and pieces now. So if you would be so kind to review my work, and confirm or deny it. I will close it, if you find anything, then we will reopen this issue.

[2021-05-02 16:25] #5 closed

[2021-05-02 16:26] rvdbreemen commented on #56
@EdwinD007 Any progress? I will close this, if you need more support, then just reopen the issue and we will continue debugging.

[2021-05-02 16:26] #56 closed

[2021-05-22 11:01] alucryd opened #58 "Settings loading forever"
Hi, I've got an issue with the settings page. It was working fine at first, but ever since I activated MQTT, it won't load anymore and is stuck on `Loading...`, any idea what's going on?
![image](https://user-images.githubusercontent.com/1561084/119224228-bf113400-bafd-11eb-9bc1-470718bf862b.png)
Tried brave and firefox, same result.

[2021-05-22 17:02] rvdbreemen commented on #58
That's weird. Have you rebooted and checked what happens?

[2021-05-27 06:15] alucryd commented on #58
Yes I have, I've also tried downloading the settings.ini file, and manually disabled mqtt before uploading it back but that didn't change anything so it may be unrelated after all. No reboot is bringing it back, not a huge deal since we have access to settings.ini, but kind of annoying still.

No error in the console either, it just prints `refreshSettings()`, and then nothing :/ If I call it myse

[2021-05-27 06:20] rvdbreemen commented on #58
To find out what's going on could you telnet to port 23 to get debug information.

Please capture the debug log and share it.

Are you able to connect to your MQTT hub using a tool like MQTT explorer (http://mqtt-explorer.com/)?

When you share the logs I can help debug your issue.

[2021-05-27 06:47] alucryd commented on #58
Here's the telnet log, I tried accessing the settings at the same time but nothing jumped out to me: https://paste.xinu.at/EDrHCbm9FVI66WRI/

I have since disabled MQTT and am relying on the serial plugin in Home Assistant which works fine. I can reenable it though if you think you can find out more with MQTT.

[2021-05-27 06:58] rvdbreemen commented on #58
This debug log looks just fine, but as you mention without MQTT. If you could try an MQTT configuration again, and then log at the same time. Than we will get the information on what is going on with the MQTT connection. It might just explain what is happening there.

[2021-06-10 09:45] MrSnuggels opened #59 "MQTT Command topic stops working after 3 weeks"
Revision 0.8.4+f39b68a (02-05-2021)

I post command (outside temperature) at a 1 minute interval through the command topic on MQTT. This works perfectly for about 18 days, after that the OTGW does not listen to the command topic anymore. Publishing it's own topics to the broker remains operational without issues. Sending commands through the network port with the opentherm gateway application also

[2021-06-17 18:21] rvdbreemen commented on #59
Hi @MrSnuggels that's a weird issue... after 18 days it needs a reset? I immediately suspect a bug in on of the libs I use, like the pubsub for MQTT or something. So are you saying I need to reset once a week?

[2021-06-17 18:21] rvdbreemen commented on #58
Closing this issue as we never found out what the issue was.

[2021-06-17 18:21] #58 closed

[2021-06-29 13:15] jvinckers opened #60 "MQTT Commands are not executed"
When I set eg the room tempereature or the Outside temperature in a MQTT message, I see a command message appear in MQTT but it never is executed.
The release is use is: 0.8.4+f39b68a (02-05-2021)

The used message for publication is:
mosquitto_pub -t "OTGW/set/otgw-8CAAB5747B11/command"  -m "TT= 18.5"
mosquitto_pub -t "OTGW/set/otgw-8CAAB5747B11/command"  -m "OT= 17.5"

And this is what the debug

[2021-06-29 21:32] rvdbreemen commented on #60
@jvinckers so I had to look into the code to verify what you see here. So actually there are several things happening. But let me explain the command queue for you.

When you set (send) a command the following happens:
1. the Set command puts adds the command to the queue.
2. Adding a command first checks to see if the command is already in the queue, if so, then overwrite the command in queue.
3.

[2021-06-29 21:33] rvdbreemen commented on #60
In the code you can find the following functions:
- void addOTWGcmdtoqueue(const char* buf, int len)
- void handleOTGWqueue()
- void checkOTGWcmdqueue(const char *buf, int len)

It matches the functions I explained above.

[2021-06-29 21:43] rvdbreemen commented on #60
@jvinckers I have one question for you, why is your OTGW sending PR responses? Are you using the PR command over a serial interface (network) by any chance? What is your setup? Please share some information, that way I can understand better what usecases there are with others.

[2021-06-30 07:01] rvdbreemen commented on #60
A debug trace from my dev build:
[08:57:10][  14176| 11200] handleMQTTca(  57): Message arrived on topic [OTGW/set/otgw-2CF43257D77C/command] = [TT=16.8] (7)
[08:57:10][  12832| 11200] addOTWGcmdto( 991): CmdQueue: Adding cmd end of queue, slot [0]
[08:57:10][  12832| 11200] addOTWGcmdto( 994): CmdQueue: Insert queue in slot[0]:[]
[08:57:10][  12832| 11200] addOTWGcmdto(1007): CmdQueue: Next free

[2021-06-30 09:38] jvinckers commented on #60
Thanx for your reply,
1st about my setup:
I use the NodoShop OTGW with an Nodemcu v2.
Than I use a Ubuntu server running Mosquitto and other services like Apache Postfix etc..
And I have a separate Ubuntu server running Home Assistant. But for testing purposes I have shut down this server to prevent it from interfering the test. (This is where the PR responses initiated from. I think the OpenTherm

[2021-06-30 10:51] rvdbreemen commented on #60
@jvinckers thanks for sharing the log, now that's a very weird condition, as the command is dus, but does not execute for some reason. I will look in more detail tonight.

[2021-06-30 17:06] rvdbreemen commented on #60
@jvinckers seems that you have hit a bug indeed. I seem to have used now() where I planned to use millis(). Most cases this seems to work, but not always. Thus this is bug in need of fixing. Can you validate my build when I have tested it myself?

[2021-06-30 17:35] rvdbreemen commented on #60
I just uploaded a dev build to the discord, so just pick it up there.
Discord invite: https://discord.gg/zjW3ju7vGQ

[2021-06-30 18:00] jvinckers commented on #60
HI,
I have downloaded the image and upgraded the Nodemcu and it works perfect now!
Thank you very much for your quick response!

Regards,
Jur

[2021-06-30 18:03] jvinckers commented on #60
Also tested in HomeAssistant with a climate card based on the MQTT topics and it is running great!

[2021-06-30 18:35] rvdbreemen commented on #60
Thanks for reporting the issue. Release of this fix will happen soon.

[2021-06-30 18:46] rvdbreemen commented on #59
@MrSnuggels hmmm, just fixed a cmd queue bug that could have been related to your problem. The commands where due based on nos() not millis(), that might also cause your issue. However I have no other way than asking you to upgrade to v0.8.5 when released and find out.

[2021-06-30 20:15] rvdbreemen commented on #60
Fixed with release v0.8.5

[2021-06-30 20:15] #60 closed

[2021-06-30 20:16] rvdbreemen commented on #59
Closing this issue, expect it is related to issue #60 and that was fixed. If you keep seeing your issue @MrSnuggels then please let me know and reopen this issue. We can investigate that if that would be needed.

[2021-06-30 20:16] #59 closed

[2021-07-04 09:47] MrSnuggels commented on #59
Just flashed the new firmware release, will let you know in a couple of weeks if this resolves the issue.

[2021-07-21 07:54] LaughingLeeLife opened #62 "The connection between NodeMCU board and OpenTherm Adapter"
Hi Rvdbreemen,
Thanks for this project. I'm trying to connect the Bocsh Boiler and the HomeAssistant with this OTGW-firmware.
But I couldn't buy "the Nodoshop NodeMCU/ESP8266 version of the OpenTherm Gateway" from China. I'll diy an OT adapter and connect it to NodeMCU.
Could you help to share the connection info between the NodeMCU and OT adapter?

I just find below port definitions in OTGW-firmw

[2021-07-21 10:43] rvdbreemen commented on #62
Hi @LaughingLeeLife

The firmware is designed for a specific PCB with a PIC that adds functionality to the OTGW. The PIC makes it possible to actually control, monitor and overrule the Thermostat.

The original OTGW project cab be found here: https://otgw.tclcode.com/index.html

You can buy the OTGW from nodoshop: https://www.nodo-shop.nl/nl/opentherm-gateway/188-opentherm-gateway.html

I understa

[2021-07-21 10:44] rvdbreemen commented on #62
Join the discord using: https://discord.gg/zjW3ju7vGQ

[2021-07-22 08:06] LaughingLeeLife commented on #62
Hi Rvdbreemen,
Thanks for your reply.
I'm sorry I couldn't open the link: https://discord.gg/zjW3ju7vGQ.

My hardware is: NodeMCU(esp8266) + OpenTherm Adapter.
NodeMCU: [https://github.com/nodemcu/nodemcu-devkit-v1.0](url)
OpenTherm Adapter:
![WeChat Screenshot_20210722153204](https://user-images.githubusercontent.com/45506527/126607248-211be1c0-8698-4b93-b97f-19771ac54b4d.png)
![OT1](https://user

[2021-08-03 16:18] Marcello1970 opened #63 "Feature Request - Add DHT22 support"
it is possible to choose between a DS18B20 or a DHT22 on the GPIO connection. In addition to the temperature, you can also measure the humidity in the room. That would be great.

[2021-08-03 21:09] rvdbreemen commented on #63
@Marcello1970 interesting idea, that would require some more coding. I have no experience with a DHT22 and the DS18B20 was developed by @sjors a while back. I am sure it is something that could be build.

[2021-08-09 05:12] katilius opened #64 "Cannot set control setpoint to 0"
Currently using version 0.8.3. Previously I was able to send this request:
`POST http://otgw.local/api/v1/otgw/command/CS=0 `

this would turn off boiler if nothing is using it.

Now it no longer works, I can send :

`POST http://otgw.local/api/v1/otgw/command/CS=1`

and it updates fine, but 0 is ignored.

[2021-08-09 05:15] rvdbreemen commented on #64
There was a bug in pre-0.8.5 that sometimes causes messages to stay in the queue for a long time.

Cloud you try the lars test firmware and validate if that solves your issue.

Thanks
Robert

[2021-08-09 05:22] katilius commented on #64
Just updated to `0.8.5+dc3dc14. It worked once, but then stopped working after that. Also tried sending `CS=-1`  but does not work.

[2021-08-09 05:36] rvdbreemen commented on #64
It sounds like a bug. So I will try to replicate it. Could you share some debug logs from your problem?

[2021-08-09 09:24] rvdbreemen commented on #64
I just tested the latest firmware, and the REST API just works fine.

Not sure what problem you are experiencing, so could you please share some debug logs.
Read this: https://github.com/rvdbreemen/OTGW-firmware/wiki/How-to-debug-the-OTGW-firmware

If you want some realtime interaction you can share the Discord community. And chat about your issue with me and others. Just go here: https://discord.

[2021-08-09 19:15] rvdbreemen commented on #64
So did you read this part of the OTGW commands?

"CS=temperature
Control Setpoint - Manipulate the control setpoint being sent to the boiler. Set to 0 to pass along the value specified by the thermostat. To stop the boiler heating the house, set the control setpoint to some low value and clear the CH enable bit using the CH command.
Warning: manipulating these values may severely impact the contro

[2021-08-09 19:20] rvdbreemen commented on #64
@katilius I noticed this:
"To stop the boiler heating the house, set the control setpoint to some low value and clear the CH enable bit using the CH command."

If I understand correctly, then you need to clear the CH bit and you need to set the CS to a low value....

Meaning to turn off your boiler, you send two commands back to back:
CS=0
CH=0

That should turn off the boiler then.

Could you try

[2021-08-09 19:20] MrSnuggels commented on #59
Issue seems to be resolved indeed. Now at 36 days since boot and still responding to MQTT commands. Thank you very much.

[2021-08-09 19:22] katilius commented on #64
Yes, I missed the part about CH. Will try it now. Initially I was experimenting with all commands that my boiler supported and looked what could stop the boiler and using just CS worked up until I upgraded to version 0.8.

[2021-08-09 19:23] rvdbreemen commented on #59
Thanks for the confirmation @MrSnuggels

[2021-08-09 19:25] rvdbreemen commented on #64
@katilius did you upgrade you PIC to a newer version by any chance? As the 8266 firmware basically forward the commands

[2021-08-09 19:27] katilius commented on #64
I did, but I can double check. Is version somwehere available to check ?

[2021-08-09 19:29] rvdbreemen commented on #64
Goto the webUI, click Device Info. And check the "OTGW PIC Firmware Version". The current version I run is version 4.3 btw...

[2021-08-09 19:39] rvdbreemen commented on #62
@LaughingLeeLife you asked me:
"Is it possible to split the OTGW firmware into NodeMCU/ESP8266 without the PIC?"

I think so, but I have not plans to do that myself at this point. I see what you need, I think the firmware could be adapted to work with the OT Adaptor. So you are welcome for fork the code and modify it accordingly. In case you do, let me know

[2021-08-09 19:39] #62 closed

[2021-08-10 05:31] katilius commented on #64
I have tried sending CH as well, but now I am in different state, I cannot reenable heating. I send this request:
`http://otgw.local/api/v1/otgw/command/CH=1`

But it does not turn back on.

Here is the log after sending command:
[code]

[2021-08-10 09:36] rvdbreemen commented on #64
@katilius it in the end depends on your thermostat and boiler, not the firmware of the NodeMCU and the PIC. So you have to experiment with the settings, you have to probably do a combination of CH and CS to turn off and turn on your boiler.

Just come to discord channel to discuss with others, or, if you are more comfortable with a forum you could go here: https://www.domoticaforum.eu/viewforum.ph

[2021-08-10 09:37] rvdbreemen commented on #64
Closing this issue, because it's not a problem with the firmware it seems, but more on how to control your boiler.

[2021-08-10 09:37] #64 closed

[2021-08-15 19:29] raf1000 opened #65 "ESP8266 - PIC connection issue"
Hello

I have managed to compile files and uploaded ESP8266 using Arduino IDE.

I can login into otgw.local. When I click **PIC firmware** nothing is displayed, and info “ No version found” at the bottom
When I click **Device Info** I can see data among which “Pic connected = false”

Hence I have uploaded PIC with  getway.hex using  otmonitor connected to OTGW gateway via FDDI/USB.
I have performe

[2021-08-16 05:05] rvdbreemen commented on #65
Hi

You have already debugged a lot. It sounds like a connection problem.

What version of the pcb do you have? If it's a version 2.x then you have jumpers you need to set correctly so that the pic and the NodeMCU are connected.

Please let me know your findings,

Robert

[2021-08-16 08:45] raf1000 commented on #65
The PCB  V2.0. I have changed TxP/RxP jumpers for ESP/LAN as per instruction (so they are closer to ESP8266 Antena). I bought  the gateway in April 2021 and now trying to make it running. I wanted to connect to Renovent Brink HR (Ventilation) which uses Opentherm protocol  (I am in touch with a person who managed to do it). But I have the base issue with connection:-( . PCB looks OK not sure if it

[2021-08-16 11:08] tjfsteele commented on #65
That's very strange. What do you get when you connect to the NodeMCU via the web interface?

[2021-08-16 15:31] rvdbreemen commented on #65
@raf1000 when you goto the debug port (telnet to 23) then you should see live messages being decoded, as well as some debug information like sending MQTT messages.

If you do not see anything there, then I agree with @tjfsteele it strange. The green led blinking from the PIC is what you expect. So if you do not see any commands being parsed, and the serial port OTmonitor port, does not respond eit

[2021-08-16 16:58] raf1000 commented on #65
1) When using FDDI/USB, after clicking Gateway in otmanager, I have the following (green LED flashing):
18:34:24.936547	Command: PR=M
18:34:24.969383	PR: M=M
18:34:29.454368	Command: GW=1
18:34:29.471898	GW: 1
18:34:29.502723	R00000000	Read-Data 	Status (MsgID=0): 00000000 00000000
		   - CH enable: disabled (0)
		   - DHW enable: disabled (0)
		   - Cooling enable: disabled (0)
		   - OTC active:

[2021-08-16 17:05] raf1000 commented on #65
Connected with telnet (I am not using MQTT here):
help

---===[ Debug Help Menu ]===---
1) Toggle verbose debug logging - OT message parsing
2) Toggle verbose debug logging - API handeling
3) Toggle verbose debug logging - MQTT module
q) Force read settings
m) Force MQTT discovery
r) Reconnect wifi, telnet, otgwstream and mqtt

[19:04:51][  11352|  9896] handleDebug (  74): MyDEBUG =true
[19:04:52

[2021-08-16 20:58] rvdbreemen commented on #65
@raf1000 From the logs you have shared here I can say that there is no OT msg see at all.

Log 1&2 are the same, the status message is a fake decoding I think.

From the NodeMCU dev info I can see that the OTGW PIC does not see the boiler nor thermostat.

You could try to connect the wires again. Just to see if that makes any difference.

As far as I can see it's a "not connected" to the  OT bus,

[2021-08-16 21:03] tjfsteele commented on #65
The strange thing is that it seems to work when using the FTDI serial cable.

[2021-08-17 05:11] rvdbreemen commented on #65
@tjfsteele it seems he can program the PIC, but I have not seen any data in either log from the boiler or thermostat. So either the jumpers are not connected correctly, or, the wires to the PCB from the boiler and thermostat are not connected correctly.

If both are good, then I am thinking a problem with this PCB all together.

What about you?

[2021-08-17 07:42] tjfsteele commented on #65
In his original post he says

Could be relevant?

Tim

[2021-08-17 07:58] raf1000 commented on #65
Yes, at the moment I do not have connected boiler nor termostat. However my understanding of the gateway is that it shall resposne on the command I am sending, confirming that gateway received the request.  Hence whileusing serial I have confirmation as follows:
18:34:24.936547 Command: PR=M
18:34:24.969383 PR: M=M
18:34:29.454368 Command: GW=1
18:34:29.471898 GW: 1

And when using NodeMCU there i

[2021-08-17 08:10] tjfsteele commented on #65
The jumpers should look like this:

![image](https://user-images.githubusercontent.com/58075888/129688888-3fe5f45b-3c0b-4ae4-b775-3fb2c4c43eae.png)

[2021-08-17 08:12] raf1000 commented on #65
![20210816_195645](https://user-images.githubusercontent.com/58109439/129689112-a8a028e4-f0e7-48b2-92cc-878634d0736b.jpg)
Yes exacly, for NodeMCU I am changing jumpers as per my photo. When I use serial I need to change them agin

[2021-08-17 08:24] tjfsteele commented on #65
If you have a multimeter or continuity tester I would disconnect the board from power then check there is a path from RX and TX on the NodeMCU to the jumper caps, although I've never heard of this being a problem before.

I assume the NodeMCU does not have anything plugged in to its USB port when you are trying to use it with OTGW.

Tim

[2021-08-17 08:34] tjfsteele commented on #65
I would disconnect the board from power then use a meter to check for continuity between the jumper caps and the vias as shown in the photo.

Also carefully inspect the solder joints around the jumpers and around the level converters at the top of the picture.
![Vias](https://user-images.githubusercontent.com/58075888/129692433-db8cc2ae-9ec2-4313-aa74-438f8dcdffc9.jpg)

[2021-08-17 10:06] rvdbreemen commented on #65
"OTGW PIC Firmware VersionNo version found
Pic connected false"

There is room for improvement in UI and software tests.

The firmware "no version" happens with some versions of firmware more often. I have found resetting it multiple times this sometimes resolves it.

The PIC connection false  should be improved based on your feedback. It is used to let Home Assisant know about the status of the O

[2021-08-17 11:32] raf1000 commented on #65
When using power supplier I am not connecting to USB.
I have checked RX between green circles and Tx between red circles and both are OK/continuity (0 ohm).
When I check between TxP and Tx on NodeMCu there is 22.8 kohm (probably some change of voltage on smd resistor?)

![20210817_131420](https://user-images.githubusercontent.com/58109439/129718317-c78d1de2-d847-41fa-a37c-d7145ce444b6.jpg)

[2021-08-17 12:09] tjfsteele commented on #65
RxP and TxP are not directly connected to Rx and Tx on the NodeMCU, they go via level converters as the PIC works at 5V and the ESP works at 3.3V.

The photo you posted isn't very clear unfortunately when zoomed it, it's difficult to take a sharp macro photo so I don't blame you at all. As far as I can see there isn't a problem with the level converters which are the two transistors on the left.

[2021-08-17 16:05] raf1000 commented on #65
The above was usuefull. I was checking connection paths of NodeMcu Rx - TxP and NodeMcu Tx - RxP
I can not check transistors but after checking all connections seems there is no connection between  NodeMcu Rx and 10K resistor as on the picture below
![20210817_174351](https://user-images.githubusercontent.com/58109439/129760593-5a696192-e870-47b6-ae3e-641727582c9a.jpg)

I could try to connect via

[2021-08-17 16:19] rvdbreemen commented on #65
Okay, so this has turned out to be a hardware issue.

Please do contact nodoshop. I will close the issue know, as it's not a software related issue 😉

Please let us know when it gets resolved by Nodoshop.

[2021-08-17 16:20] tjfsteele commented on #65
![IMG_20210817_171635.jpg](https://user-images.githubusercontent.com/58075888/129763128-a4520383-d184-4b8e-9b35-61d922e29167.jpg)

The pads marked in red should be connected together by tracks on the board.

Could the issue be the soldering of the NodeMCU socket?

[2021-08-17 17:29] raf1000 commented on #65
Bingo. Thank you for indicating RXD! on the PCB. As the RXD -R10 connection is OK, I can wire RXD with Node MCU Rx and it works!
Regarding soldering I might have overhited and  but there is a connection from NodeMCU top of the PCB to  the bottom of PCB (where soldering look ok, nothing strange)
Again thank you for your help!

[2021-08-17 18:22] tjfsteele commented on #65
That's excellent news, thank you for letting me know!

[2021-08-17 18:24] rvdbreemen commented on #65
Great news. Thanks @tjfsteele for helping out.

[2021-08-19 20:53] raf1000 opened #66 "Free pins of NodeMcu [question]"
Hello,
I would like to ask which NodeMcu`s pins are not used by OTGW software?
I want to use a free pin of NodeMcu (and add in the code) to turn on/off the water circulation pump

[2021-08-20 06:08] rvdbreemen commented on #66
@raf1000 there is already code to switch on and off any pin based on the status bits from the slave (aka as the boiler or ventilator heating".

The pins you cannot use are:

//define Nodoshop OTGW hardware
#define OTGW_BUTTON 0   //D3
#define OTGW_RESET  14  //D5
#define OTGW_LED1   2   //D4
#define OTGW_LED2   16  //D0

//external watchdog
#define EXT_WD_I2C_ADDRESS 0x26
#define PIN_I2C_SDA 4   /

[2021-08-20 06:08] #66 closed

[2021-09-08 16:21] mihsu81 opened #67 "NodeMCU resets a couple hundred times (for about 15-30 minutes) before starting to work"
Hi @rvdbreemen,

I recently purchased a OTGW (v2.0) and NodeMCU from Nodo Shop.
With firmware v0.4 from https://otgw.tclcode.com/download/otgwmcu.zip works fine.
When i use your firmware v0.8.5+dc3dc14, the NodeMCU resets every 10 seconds for about 15-30 minutes and eventually starts working and doesn't reset anymore. The PIC is on v5.1.
I've tried with the boiler and thermostat connected and disc

[2021-09-08 19:14] rvdbreemen commented on #67
Hi @mihsu81
Thank you for reporting your issue and the details shared help a lot to figure out what might be going on.
First off it sounds like it is being reset waiting for something. The "External System" is actually the "watchdog reset" and yes, after about 5 seconds of waiting for anything, the MCU gets reset by the watchdog gets reset.

So two things happen between the first blue led turning

[2021-09-09 07:32] mihsu81 commented on #67
Hi Robert,

I can confirm that "time.google.com" is reachable by every device on the network.
MQTT is configured on the NodeMCU and can connect just fine.
I'm using the Mosquitto MQTT Broker and i can connect to it with MQTT Explorer (with username/password).
Can we increase the time it waits before a reset, just as a test?

Best regards
Mihai

[2021-09-09 08:27] mihsu81 commented on #67
Hi Robert,

I did some more troubleshooting regarding NTP and realized the issue was caused by my ASUS router.
I had previously enabled redirection of NTP traffic to ntpMerlin and looks like the NodeMCU doesn't like that or there's an issue with ntpMerlin or the reply didn't come back in time.
After disabling the NTP redirection, the NodeMCU wouldn't restart anymore, unless it couldn't connect to

[2021-09-09 08:27] #67 closed

[2021-09-09 20:25] rvdbreemen commented on #67
@mihsu81 thanks for that feedback. So it was the NTP timeout that was cause your issue in the end. If you have any other issues, just come back and I am happy to try and help fix them.

[2021-11-08 16:33] antonlamers opened #70 "Mqtt domoticz"
Hi,

I did fill by MQTT Home Assistant prefix: domoticz.
when I fill it with domoticz/in some messages are not updated. What is right to do. I can’t use the otgw mqtt plug-in because I have an user and password.

anton

[2021-11-08 16:53] rvdbreemen commented on #70
@antonlamers thanks for reporting. Can you be more specific on what topics do not update after the change in topic.

And did you reboot the OTGW? Just to make sure that works.

[2021-11-08 17:20] antonlamers commented on #70
Hi,
No i didn’t reboot.
This is the difference between domoticz and domoticz/in by the prefix. Do I it the right way? I send you 3 pics from domoticz and one from the settings.
[cid:418172BD-6EB2-46F8-BA0B-9DDF85253603-L0-001][cid:6631D47A-CFEF-455F-B811-7BB826F93BB8-L0-001][cid:6CFF1982-29D5-40A2-8183-9693915606A9-L0-001][cid:A195C2CE-75FF-4061-9ACC-754F63521090-L0-001]

mvg,
Anton Lamers
Verstuu

[2021-11-08 17:40] rvdbreemen commented on #70
@antonlamers images do not work like that in GitHub. You can upload them if you like or just join the discord channel (https://discord.gg/zjW3ju7vGQ).

[2021-11-08 18:57] antonlamers commented on #70
Ze staan op discord

mvg,
Anton Lamers
Verstuurd vanaf mijn iPhone

Op 8 nov. 2021 om 18:40 heeft Robert van den Breemen ***@***.***> het volgende geschreven:

﻿

@antonlamers<https://github.com/antonlamers> images do not work like that in GitHub. You can upload them if you like or just join the discord channel (https://discord.gg/zjW3ju7vGQ).

—
You are receiving this because you were mentioned.

[2021-11-08 19:04] rvdbreemen commented on #70
Screenshots gezien. Wat gaat er fout? In principe worden sensors ge-update op basis van MQTT en MQTT updates gebeuren als er berichten binnen komen van de thermostaat of ketel.

Kan je uitleggen wat er fout gaat?

[2021-11-09 18:23] pro2call-nl opened #71 "Ds18b20 vs firmware 0.9.0"
I have 2 dallas temperature sensors connected to gpio10. After upgrading to 0.9.0 the sensors don't show in mqtt.

I downgraded the .ino file to 0.8.6 and there working again.

[2021-11-09 18:59] rvdbreemen commented on #70
Solved by downgrading PIC to 4.3. This seems to be the only way to get the Domoticz default plugin to work correctly. If you can, then please use the specific plugin for this.

[2021-11-09 19:00] #70 closed

[2021-11-12 11:39] vampywiz17 opened #72 "New Feature - Webhook"
Hello there,

I think that will be good, that possible to send a webhook, if one of the value (like CH ) is On/Off

For example, if we want to switch a external heating pump via Shelly relay on a different floor. Of course it possibe to do this with MQTT, but not sure that everybody install a broker and smart home center (like HA) that if only switch a pump...

I found some library that possible t

[2021-11-12 17:14] rvdbreemen commented on #72
That's a great idea. I will look into what a good way of doing this would be.

[2021-11-12 21:30] reyapo opened #73 "Newly flashed device stuck in boot loop"
Hi,

To update my gateway from a serial to a network connection I purchased a [NodeMCU](https://www.antratek.nl/nodemcu-v2-lua-based-esp8266-development-kit) and flashed it according to the wiki. Unfortunately it immediately gets stuck in a boot loop. If I connect to the serial output it constantly outputs the following on a loop:
[code]

The `OTGW firmware` lines are printed relatively slowly (1

[2021-11-13 06:16] rvdbreemen commented on #73
Hi @reyapo thanks for reporting your issue. I totally don’t understand why the device would not work unless it’s a bad clone or fault nodemcu.

It indeed looks like a deep bootloop. The bootbanner is mostly seen in your logging on the usb. You hardly seem to get to the next step.

Stupid question: is the nodemcu in the OTGW board when connected to the USB serial or not?

Cheers,
Robert

[2021-11-13 13:21] reyapo commented on #73
Hi Robert

Thanks for your quick reply. As far as I can tell the board is an original NodeMCU v1.2.

The log I pasted above is when the board is connected through USB only, so not placed on the gateway. However if I place the board in the gateway the LEDs blink in the same way and no Wifi AP appears so I assumed it does the same. I did not read the serial at that time though.

I ordered a second b

[2021-11-14 20:54] pro2call-nl commented on #71
the problem has been found.

1. i installed the new INO file
2. i installed the new Littlefs file.

I assumed an reboot has been done automaticly.

after hitting the reboot button in the littlefs webpage the device connection was lost. 1 power reset and everything was working again.

[2021-11-14 20:54] #71 closed

[2021-11-14 21:20] rvdbreemen commented on #71
Ahhh, that's weird, because after a flash the esp is rebooted... so why did it initially not bring back everything... but you fixed it by turning it off and on again.

[2021-11-14 21:21] rvdbreemen commented on #73
@reyapo well, when the nodemcu comes please report here what happened. Thanks... I leave your issue open for now.

[2021-11-16 20:16] reyapo commented on #73
@rvdbreemen I got the new board and it worked immediately. Its now running and sending data to Home Assistant flawlessly! Why the other one is not working I don't know. If I put them side by side there are definitely differences, but unless someone else encounters the same issue I would say, call it defective and close the issue.

[2021-11-16 20:27] rvdbreemen commented on #73
Thanks for letting me know. Clossing issue.

[2021-11-16 20:27] #73 closed

[2021-11-18 17:55] jvwdev opened #74 "Building with arduino-cli, missing OTGW-firmware.mklittlefs.bin"
I'm trying to build with arduino-cli, which works fine after installing some libs which are not added as git submodules yet.
After building there is a /tmp/arduino-sketch-* folder, which contains the OTGW-firmware.bin.

But there is no OTGW-firmware.mklittlefs.bin file to be found, how can I build this file ?

Some details on how I setup and build with arduino-cli, which might be useful for the wi

[2021-11-18 19:18] rvdbreemen commented on #74
@jvwdev Thanks for the feedback.

I have not tried building it using Adruino CLI myself. I personally use the VSC plus Adruino IDE plugin.

So your input is more than welcome. Hope you will share all information on your buildpipeline once you got it done.

In the issues you found:
1. Missing git submodules. You are right, I changes libraries, but forgot to fix that part.

You can drop eztime libra

[2021-11-18 20:44] jvwdev commented on #74
Thanks for the info!

I looked at the plugin, it calls a tool called mklittlefs and has some logic to flash it.
The mklittlefs binary is provided by the esp8266 package.

I made a quick shell script to make the image, which seems to be working.
The only problem is that the values as page/block-size and start/end addresses are hardcoded for now, as I'm not sure where to properly get these values. I

[2021-11-19 16:23] bmaehr commented on #65
The jumpers set to FTDI have been the problem for my why I got "No version found" and also flashing the firmware didn't work.  Please upgrade the documentation or better add a hint to the UI.

[2021-11-19 20:33] rvdbreemen commented on #65
@tjfsteele do you think the documentation needs to be clearified?

[2021-11-20 00:41] bmaehr commented on #65
The problem is that a user like me (bougth the OTGW and the NodeMCU at nodo-shop) has to first find out what the real problem is.

With some searching after I got the packege today I found the wonderful landing page https://github.com/rvdbreemen/OTGW-firmware/wiki/ where all steps are described really well. Only the small step changing the jumpers on the OTGW is not there. And because the NodeMCU

[2021-11-20 08:22] rvdbreemen commented on #65
@bmaehr that clarifies where additional hints can be added.

I think you just mean that when you get the message “no version found” there should be instructions to check the jumper setting.

Did you use the install pdf from the nodo shop site at all?

[2021-11-20 10:36] tjfsteele commented on #65
I'm wondering if this is a conflict between the v2.3 manual and an older
board?

Hopefully the manuals in the shop will be labelled more clearly soon.

Tim

On Sat, 20 Nov 2021, 08:22 Robert van den Breemen, ***@***.***>
wrote:

[2021-11-20 11:29] bmaehr commented on #65
That is my suggestion.

In fact I did look at all documents from them and not one was really helpfull. I didn't need a document how to solder the board (didn't see there something about jumper either), I didn't have a Ethernet and didn't use a USB interface (even don't have a USB interface on the OTGW and didn't bought an Ethernet module) and additionaly the OTGW did look different than the one I

[2021-11-21 16:16] rvdbreemen commented on #65
When I look at the picture you shared earlier, I think the issue is caused by the fact that we the manual at the nodoshop site is currently for PCB version 2.3. After talking to Tim (hardware designer of the current nodoshop PCB) we decided to publish the hardware manual for the older hardware. The jumpers are in the pre-v2.3 designs of the hardware.

We hope this solves the problem if anyone else

[2021-11-21 16:16] rvdbreemen commented on #65
When I look at the picture you shared earlier, I think the issue is caused by the fact that we the manual at the nodoshop site is currently for PCB version 2.3. After talking to Tim (hardware designer of the current nodoshop PCB) we decided to publish the hardware manual for the older hardware. The jumpers are in the pre-v2.3 designs of the hardware.

We hope this solves the problem if anyone else

[2021-11-21 16:18] rvdbreemen commented on #65
Closing issue, as the documentation is now published in Discord #Hardware channel. I am considering adding additional hint in the wiki as well.

[2021-11-21 16:18] #65 closed

[2021-11-23 00:42] Ramonlambal opened #75 "confused about hardware nodoshop, nodemcu or WeMos"
HI,

I am currently ordering the parts to build my own opentherm gateway, using this firmware.
I am however a little bit confused by the new board (v2.3) of nodoshop.
There it is mentioned the new board (2.3) runs with a WeMos D1 Mini, instead of the always mentioned NodeMCU on this page.

Is the current firmware (9.0) supported for the WeMos D1 mini, or should I still get the NodeMcu
to be clear

[2021-11-23 07:06] rvdbreemen commented on #75
Hi @Ramonlambal
Thanks for asking. The new PCB V2.3 supports wemos d1mini and the firmware is compatible with the wemos too.

So you can use the firmware safely. I will add this to the readme.

Hope this clears up the confusion,
Robert

[2021-11-23 07:06] #75 closed

[2021-11-24 11:13] mihsu81 opened #78 "OTGW Web server slow with MQTT enabled v0.9.0"
Hi @rvdbreemen,

After an OTA upgrade from v0.8.5 to v0.9.0 the Web server became very slow.
After disabling MQTT it got fast again. Re-enabling MQTT makes it slow again.
I've downgraded from v0.9.0 to v0.8.6 and didn't see web server slowness anymore with MQTT enabled.
In v0.9.0 MQTT appears disconnected and in _Mosquitto broker_ i see successful connection attempts and disconnections every few s

[2021-11-24 21:00] rvdbreemen commented on #78
@mihsu81 thanks for reporting this issue. First of all, thanks for pointing out the typo. I just fixed it in the dev branch. So in a future release, so that should be gone. Also any reference to Dutch language should be fixed. If you ever find one, let me know.

Now on the MQTT connect issue in v0.9.0 I am stumped for now. Would you be willing to do some testing to find out that it could be? That

[2021-11-25 08:22] mihsu81 commented on #78
Hi @rvdbreemen,

Here's a capture from the device on port 23. Hopefully will help.
[debug_log.txt](https://github.com/rvdbreemen/OTGW-firmware/files/7601286/debug_log.txt)

[2021-11-25 20:37] rvdbreemen commented on #78
@mihsu81 from the log I can tell you that you are running the MQTT and an OTGW native integration at the same time over port 25238.  As far as I can see this causes a reboot from time to time, I have never tested this particular scenario.

The firmware was designed to support only one option at a time, either you use serial over network OR MQTT.

To test my suspision here would you be so kind to r

[2021-11-26 22:44] mihsu81 commented on #78
Hi @rvdbreemen ,

I've been running both integrations at the same time since i first installed your firmware (v0.8.5) and never had these issues or errors/warnings in HASSIO.

**Case 1**
Removing the native OTGW integration and restarting HA maybe improved things by a small margin but the web server is still very slow. Much slower than on v0.8.6 with both integrations enabled. To the point where i

[2021-11-26 22:50] rvdbreemen commented on #78
Thanks for the testing and sharing the results.

First off. Well good to hear you can run both integrations at the same time. Didn't know that.

Will look into this more over the weekend.

[2021-12-07 19:08] binsentsu opened #82 "Read thermostat setpoints from WRITE_DATA instead of WRITE_ACK as boiler may not support data ID"
Hi.

Example: My boiler does not support ID=16.
In this case the control setpoint keeps being 0° as the value is read from the WRITE_ACK line.
Through OTMonitor the correct value is read. Because of these possible unsupported data ids, the native HA integration reads some data points from the WRITE_DATA iso WRITE_ACK message.  (reference for Trset: https://github.com/mvn23/pyotgw/blob/1854ef4ffb90

[2021-12-07 19:54] rvdbreemen commented on #82
@binsentsu I am actually in the process of trying to fix this issue you describe here. The OT message decoding has changed. If you join the Discord community you can help test the new firmware release. That should be able to correctly work.

[2021-12-08 11:34] Richard-ha opened #83 "Constant gateway reset (msgIDs are missing) due to high Mqtt message load"
UPDATE:
SOLVED!
Issue solved with 2A USB charger and high quality USB A-B cable

After every reboot it works once or twice and then stopped.
PS, via direct serial connection and monitoring  on startup in OTmonitor there are a lot of error 3 faults.
But after 2 minutes or so they dissappear and all works great. All ID'S are present and remote override works.

Equipment bought from nodoshop:
Nodosho

[2021-12-08 13:20] rvdbreemen commented on #83
@Richard-ha not sure what is going on in your situation, you are reporting multiple issues at once, some related to hardware (voltage drop), not reported msgid's (eg. returnwater temperature) or unprocessed messages.

It seems when you connect using the serieal connections (using USB I assume) then you seem to get it working and with OTmonitor you can see the msgid's and remote override works

You

[2021-12-08 15:24] rvdbreemen commented on #83
Actually, I have seen your remark, but I don't see message loss with the firmware in normal conditions, I wonder what you see as number of messages from OpenTherm itself. Do you have an idea on how many messages you see flowing on port 25235?

[2021-12-08 17:33] Richard-ha commented on #83
Hi Robert,
Thank you for the quick response. I guess there could also something wrong with the (long >20meters) and maybe bad cable between the boiler and thermostat. To find out I'm going to mount the thermostat in close range from the boiler and perform some new tests.

Could you please forward me the link to the discord server in case it didn't work.
Tnx in advance

[2021-12-08 17:58] rvdbreemen commented on #83
The discord can be found here: https://discord.gg/zjW3ju7vGQ

[2021-12-08 18:23] Richard-ha commented on #83
Sorry cancelled my subscription from discord.
I don't giveaway my phone number to subscribe. Took al verification steps, that must be enough. I will keep communicate via github, sorry for that.

Verzonden via Yahoo Mail op Android

  Op wo, dec. 8, 2021 om 18:58 schreef Robert van den ***@***.***>:

The discord can be found here: https://discord.gg/zjW3ju7vGQ

—
You are receiving this because you

[2021-12-08 18:29] rvdbreemen commented on #83
Thats fine with me :)

[2021-12-08 18:31] rvdbreemen commented on #83
I actually allow you to join the discord without phone verification, so it must be a discord thing that they ask for your phone number. I only require members to be online for more than 5 minutes on discord, to prevent bots from spamming us.

[2021-12-08 23:00] binsentsu commented on #83
Don't know if it helps, but I suffered constant gateway resets in the beginning when the OTGW was powered through a 3m USB cable. I replaced it for a 30cm cable and since then all reset problems were gone.

[2021-12-09 08:19] rvdbreemen commented on #83
@binsentsu thats a great observation. You need to make sure that the OTGW USB is fed with 5V. If you use long cables and a weak 5V adaptor it will start to reset. I had that myself too and now use a 30cm cable and a 2A adaptor (overkill but it works).

@tjfsteele any additions on the power situation on V2.3?

[2021-12-09 09:26] Richard-ha commented on #83
@binsentsu , thanks that did the trick.

New (thicker,  better quality) USB kabel  and 2A Samsung fast USB charger solved all the problems. The original one delivered from nodoshop is 1A.
Mqtt running perfect, override temperature works and no more gateway resets or missing ID's
Thank you all for the great tips.

[2021-12-09 10:43] rvdbreemen commented on #83
Closing the ticket.

[2021-12-09 10:43] #83 closed

[2021-12-09 11:10] tjfsteele commented on #83
Shouldn't need anything like 2A but a decent voltage at the board is a good
idea. Sounds like the manual could be updated.

Tim

On Thu, 9 Dec 2021, 10:43 Robert van den Breemen, ***@***.***>
wrote:

[2021-12-09 11:32] Richard-ha commented on #83
I agree Tim,
I think indeed it needs a decent stable power supply, 1A should be more than enough. Although if cheap components are used in the delivered charger the riple at higher powerconsumption could be the case. I didn't measure the voltage on the board.
I assume the original Samsung USB charger is capabele delivering stable 5 Volt.
But it is solved, that's more important.Richard

  Op do, de

[2021-12-09 23:11] binsentsu opened #84 "DWH Enable flag not correct in case thermostat flag overridden through OTGW config"
Setup:
- Thermostat always sets DHW_ENABLE =1 within msgID = 0
- Through HW=0 configuration within OTGW, this behaviour is overridden towards the boiler.

Outcome:
- DHW_ENABLE = 1 published through mqtt.

Expected:
- DHW_ENABLE = 0 published through mqtt.

I suppose reason is that the overridden DHW_ENABLE BIT is never read from the transformed message (R00000000) from the OTGW towards the boiler

[2021-12-10 06:56] rvdbreemen commented on #84
Hi @binsentsu thanks for finding an analyzing this issue. I published a build of beta 0.9.1 in the discord last night. Did you capture using this firmware?

In other words what version of the firmware did you use to capture this log. Btw. this is an override issue for mqtt, and I was already trying to fix that, but as I did not have this configuration I had nog seen the logs yet myself. So this he

[2021-12-10 07:58] PvdGulik opened #85 "MQTT messages settings with checkboxes"
Hello Robert,

Still using your nice firmware.
A suggestion what I would like to see is:
A web-page with all the possible messages/devices/settings. Why? A lot of these are not working for a lot of boilers. But connected to Domoticz, it creates a lot of devices which are usuless. That's why it would be nice if you could select which ones you would like to see.

Another suggestion would be you coul

[2021-12-10 08:12] rvdbreemen commented on #85
Hoi Pieter

Thanks for the great suggestions. Actually the devices are created using the configuration file which can be stripped if you know what you are doing. That way the devices would not appear in Domticz.

I will put them on the backlog to investigate.
Groet
Robert

[2021-12-10 08:36] binsentsu commented on #84
Hi. Didn't check discord last night. Will do this evening. This log is captured through the latest released firmware version: 0.9.0+21bea01

[2021-12-13 08:32] rvoosterhout opened #88 "Can't change remote setpoint"
Hi Robert,

In regards to your PM, I'm posting the same question I also posted on the domoticaforum.eu here.

For original post: [https://www.domoticaforum.eu/viewtopic.php?f=75&t=13381&sid=132eba8a6c9ba8285d08bb4a1444b2f9](url)

I started to do some investigating, and I got it mostly to work. When I remove the D1 mini, connect the otgw to my PC with otmonitor and I connect the Remeha iSense base

[2021-12-13 09:19] rvdbreemen commented on #88
Hi Rick,
Thanks for logging your issues here, you can find me online most of the time on Discord [(link)](https://discord.gg/zjW3ju7vGQ).

In response to your issue:
1. Powerissue
Does the iSense base station take it's powerfeed from the 24V to generate the power needed? I ask this because the V2.3 hardware uses the 5V to boost to 24V. When the power need of the basestation of the iSense stays wit

[2021-12-13 09:32] tjfsteele commented on #88
The 24V power supply on the OTGW does come from the 5V rail. From what you
are saying it seems the 5V rail is not sufficient to power the WeMos as
well as the OTGW and attached devices which is very surprising.

I am certainly interested to find out more!

Tim

On Mon, 13 Dec 2021, 09:19 Robert van den Breemen, ***@***.***>
wrote:

[2021-12-13 09:36] rvoosterhout commented on #88
Hi Tim,

Please let me know what I can check to investigate this. I'm using a Samsung travel adapter for the OTGW board psu. It's a 5v 2a unit.
The iSense basestation is now connected to a 5v 4a powersupply, not USB so I can't use that one for the otgw board.

[2021-12-13 09:37] tjfsteele commented on #88
Ideally we would like to know how much current the WeMos is consuming.

Thanks

Tim

On Mon, 13 Dec 2021, 09:36 Rick van Oosterhout, ***@***.***>
wrote:

[2021-12-13 10:02] Roos-AID commented on #88
Both iSense and WeMos are consuming significant more during Wifi setup/connection than I ever expected.  I don't know the exact amount of current required, but from experiments with ESP8266 Lolin and NodeMCU I know that it went beyond 250 mA.  Add to that the display in the iSense etc. and I think that the 5V to 24V generation is causing troubles with the 5V rail stability required for the WeMos.

[2021-12-13 10:05] rvoosterhout commented on #88
To clarify, i'm using the iSense RF. My thermostat is wireless. There are 4 AA batteries in the thermostat to power the thermostat itself. The base station is connected to the otgw.

[2021-12-13 10:35] rvdbreemen commented on #88
Have you measured the power use of the base station? I know you solved it by putting the base station on it's on supply, but I wonder what is really going on powerwise.

[2021-12-15 13:55] PuckeyP opened #89 "OTGW randomly stops"
Hi,
I'm having a problem with the OTGW - NodeMCU in combination with Remeha Calenta and Remeha iSense.
I'm using NodeRed /Home assistant to control the remote override setpoint.

All has worked well for about three months, but suddenly the OTGW randomly stops.
Connection to the OTMonitor is lost, logging stops, and ch temperature is set to 14 degrees.
Any ideas where to look for an error
Thx,
PPee

[2021-12-15 14:14] eXistenZNL commented on #88
Joining this topic because I have the exact same issue but with different hardware:

Boiler: [Itho Daalderop Aqua-Max](https://www.ithodaalderop.nl/nl-NL/professional/product/545-1642)
Thermostat: [Honeywell Chronotherm Vision Modulation](https://shop.kamerthermostaat.com/p/honeywell-chronotherm-vision-modulation)

- When connected directly to my laptop, without the WeMos D1 Mini installed, all wo

[2021-12-15 14:33] tjfsteele commented on #88
Have you tried a shorter USB cable?

On Wed, 15 Dec 2021 at 14:14, Stefan van Essen ***@***.***>
wrote:

[2021-12-15 14:35] tjfsteele commented on #89
Can you confirm which version of OTGW you have?

Thank you

[2021-12-15 14:42] eXistenZNL commented on #88
@tjfsteele thanks for responding so quickly!

Good idea, haven't tried that yet, as USB-B is quite hard to come by in my household.

Just ordered [this cable](https://www.allekabels.nl/usb-printer-kabel/4578/1285874/printerkabel-usb-a-naar-usb-b.html) which is only 25cm long instead of the current 2 meter cable I have, and will post the results tomorrow after testing.

[2021-12-15 15:08] tjfsteele commented on #88
That should help. Also a good idea to use a 28+24awg cable if you can.

Tim

On Wed, 15 Dec 2021 at 14:43, Stefan van Essen ***@***.***>
wrote:

[2021-12-15 15:52] PuckeyP commented on #89
Hi tjfsteel,
Details from the webui - Device Info:
- NodeMCU Firmware Version 0.9.0+21bea01 (06-11-2021)
- OTGW PIC Firmware Version 5.1
- Compiled on (date/time) Nov 6 2021 16:09:58
- Arduino Core Version 2_7_4
- Espressif SDK Version 2.2.2-dev(38a443e)

[2021-12-15 16:01] tjfsteele commented on #89
Can you tell me the hardware version? Should be written on the OTGW board
e.g. 2.0

[2021-12-15 17:13] rvdbreemen commented on #89
@PuckeyP could you share some logging from your OTGW firmware, just telnet to port 23 and capture some logs and share them here. Maybe we can see if anything weird is going on.

[2021-12-16 12:23] PuckeyP commented on #89
I attached the complete TelNet log. At 12:00 logging stopped unexpectedly. At 11:43:42 ch_enabled suddenly turned to "OFF"
Hope you can find a indication of the error.

[2021-12-16 12:24] PuckeyP commented on #89
[putty.log](https://github.com/rvdbreemen/OTGW-firmware/files/7727206/putty.log)
File attached

[2021-12-16 13:54] STemplar opened #90 "Option: Enable PIC compatibel messages on serial interface."
Perhaps it is a good idea to have Opentherm Monitor compatability and have OTGW style serial reporting without parsing the Data-ID's. In other words, an option to enable legacy OTGW reporting over Net2Serial.
![afbeelding](https://user-images.githubusercontent.com/23719607/146384366-323041b9-86c6-43d4-bf61-955da487df49.png)

[2021-12-16 14:44] eXistenZNL commented on #88
@tjfsteele we have succes!

The OTGW seems to have enough power only with the combination of a 25cm cable and a 2A adapter. Even when using the 1A adapter with the 25cm cable, the OTGW still keeps rebooting when the WeMos is plugged in.

Even though I solved the issue, it seems that a few devices out there rely rather heavy on pulling power via the 24V line.
I feel that v2.3 of this board only del

[2021-12-16 14:46] tjfsteele commented on #88
I appreciate your feedback and we will consider improvements in future
versions

Best wishes

Tim

On Thu, 16 Dec 2021, 14:44 Stefan van Essen, ***@***.***>
wrote:

[2021-12-16 16:32] PuckeyP commented on #89
Hi Robert that is strange, because I did not use hot water this morning. Nobody was home until 13:00...

[2021-12-16 16:34] rvdbreemen commented on #89
Hi @PuckeyP well, then that's very weird indeed, but that's what your boiler is reporting back to the OTGW according to your logs. Does your boiler have an error log history?

[2021-12-16 21:45] dvbit opened #91 "Question"
How can I change wifi network once it is setup without refreshing the esp?
Thank You

[2021-12-16 22:28] rvdbreemen commented on #91
hi @dvbit

There are a couple of ways that you can change the WiFi settings:
1. Turning off your WiFi temporary, reboot the ESP.
2. Change your WiFi password (temporary) and reboot your ESP.

The ESP will go in AP mode again and you can change or setup you WiFi once more.

Either way, you can setup your ESP once more.

Hope this helps,
Robert

[2021-12-16 22:28] #91 closed

[2021-12-16 22:44] rvdbreemen commented on #90
@STemplar what do you mean? I don’t understand your request. Please elaborate.

[2021-12-16 23:05] rvdbreemen commented on #90
If I understand your request correctly, then I think you looking for option 3) serial2net.

That is ‘legacy’ support. It was the first thing my firmware did, and I continue to support it. You can use OTmonitor (from Schelte Bron) or any other serial over network based integration.

Please confirm if that is what you mean? And if not, then please do elaborate your request.

Robert

[2021-12-19 10:07] STemplar commented on #90
Ah, that is it! I needed to use port 25238! You can close this Issue.

[2021-12-19 10:07] #90 closed

[2021-12-20 20:49] rvdbreemen commented on #89
@PuckeyP just release version 0.9.1 that fixes the OT decoding. So please try that. I will close this issue in the mean time, if you still have problems, then please reopen this issue.

[2021-12-20 20:49] #89 closed

[2021-12-20 20:50] rvdbreemen commented on #88
@rvoosterhout do you mind if we close this issue. I think we solved it, and @tjfsteele even got feedback for a future release of the hardware.

[2021-12-20 20:51] rvdbreemen commented on #84
@binsentsu I think we solved the issue with the latest release v0.9.1. If not then please reopen this issue with new logs to show me.

[2021-12-20 20:51] #84 closed

[2021-12-20 20:52] rvdbreemen commented on #82
@binsentsu the bughunt is over, the OT decoding got fixed. If you update to release v0.9.1 and find you still have issue, then let me know by reopening the issue.

[2021-12-20 20:52] #82 closed

[2021-12-20 20:56] rvdbreemen commented on #78
I just updates to release 0.9.1 that tried to solve some of the issues we saw with the 0.9.0 release. Not sure if I fixed the MQTT reconnect good enough. Could you try the latest release and let me know.

[2021-12-21 10:48] rvoosterhout commented on #88
Sure, no problem. I'm going to return my otgw to nodoshop for investigation.
________________________________
Van: Robert van den Breemen ***@***.***>
Verzonden: maandag 20 december 2021 21:50
Aan: rvdbreemen/OTGW-firmware ***@***.***>
CC: Rick van Oosterhout ***@***.***>; Mention ***@***.***>
Onderwerp: Re: [rvdbreemen/OTGW-firmware] Can't change remote setpoint (Issue #88)

@rvoosterhout<https:/

[2021-12-21 10:53] rvdbreemen commented on #88
@rvoosterhout good to hear that you are in contact with nodoshop. Looking forward to having you back when you have your working OTGW from nodosop.

[2021-12-21 10:54] #88 closed

[2021-12-22 09:34] fsfikke opened #98 "Feature request: Disable WiFi traffic LED"
Hi,

I currently use the OTGW with a NodeMCU (ESP8266_NODEMCU), this has a bright blue Builitin LED on GPIO02 (inverted):
![](https://lowvoltage.github.io/images/NodeMCU-ESP8266-LEDs.jpg)
https://lowvoltage.github.io/2017/07/09/Onboard-LEDs-NodeMCU-Got-Two

This lights up the whole room where my boiler is located at night. It would be great if this could be turned off by a software setting.

[2021-12-23 15:01] rlagerweij commented on #85
I have some proof-of-concept code that only sends the MQTT configuration topics of messages it actually encounters. This should cut down on the useless enities in Home Assistant. The POC works fine for regular sensors but not currently for binary sensors since there is one message which needs to trigger a lot of different topics.

One solution could be to rename some of the topics to include the l

[2021-12-23 15:18] rvdbreemen commented on #85
I am interested... So you send the entities on the fly as they occur for the first time? How do you match them up with the actual message id? I assume you go thru the configuration file very time you see a message, or something similar. Do you keep a list of configured topics? Like I said, you got my attention on this one.

I would like to suggest instead of renaming all topics, we just extend the

[2021-12-23 15:36] rlagerweij commented on #85
That is exactly what I am doing indeed

Sounds like a good idea. I'll try this approach

[2021-12-23 15:49] rvdbreemen commented on #85
@rlagerweij actually I just realized that you don't need to keep your own list, you could simply check the ```msglastupdated[xxx]``` to see if it is still zero, because then it means it's the first time you see that msgid.

[2021-12-23 16:05] rlagerweij commented on #85
I didn't know that. that saves another 24 bytes of memory.

[2021-12-23 21:18] rvdbreemen commented on #85
@rlagerweij if we are going to do this. Then I suggest we move the file into flash memory, that way we can have a static lookup tabel and we don't have to parse the config file each message.

[2021-12-24 09:04] rlagerweij commented on #85
we could do that, but the file only gets parsed maybe 20 times in the first few minutes after startup so I don't think it is technically necessary for performance reasons.

Would you object to changing the delimiting character from "," to something like " ;".  Since there are a lot of comma's in the json in each line. Probably also not technically necessary but i feels a bit safer.

[2021-12-24 17:34] rvdbreemen commented on #85
It's not about performance, but more about the simple fact that you can more easily walk a array of strings by index, then you can walk a file. With a in-flash array you don't need to parse anymore.

No I don't mind the delimiter, even though it should not matter at this point. As the first two comma's will never have comma's in their strings, only the last one. You may have noticed I only split o

[2021-12-24 21:38] arjanwaard opened #99 "Day number off by 1"
If NTP sync is enabled the day number used in the SC command is off by 1.

[2021-12-24 22:54] rvdbreemen commented on #99
That's a good catch, I did notice the spec of OT was different of day of week of iso8601. Simply forgot about it, oops.

Fixed in the dev, just now. Thanks!

[2021-12-24 22:54] #99 closed

[2021-12-25 11:43] rvdbreemen commented on #99
@arjanwaard would you like to validate my fix?

[2021-12-25 21:32] arjanwaard commented on #99
Sure!

On Sat, Dec 25, 2021, 12:43 Robert van den Breemen ***@***.***>
wrote:

[2021-12-27 10:06] drstikko opened #100 "Cannot change wifi settings after initial setup"
After connecting to the device (mine is Wemos D1 mini pro) in AP mode after flashing, one selects the SSID/password for local network connection. Unfortunately it seems it cannot be changed afterwards (maybe I overlooked something). This can be unhandy when for example the wifi password of the router changes.

[2021-12-27 10:11] DaveDavenport commented on #100
I think if your wifi password change and you reboot (reset) the wemos it should go into the original ap mode.
(I agree a option in the UI would be nice.)

[2021-12-27 10:50] drstikko commented on #100
Actually, in my case, I want to move it to another access point. So now, it keeps connecting to the 'old' one. I thought actually going to the setup link could work? But I don't have it in my history.

[2021-12-27 10:55] rvdbreemen commented on #100
The easiest way to re-configure the wifi is to simply turnoff or change the password on the wifi accesspoint it is connecting too.

That way it will reconfigure enter the configuration mode once more.

It's on my longlist to improve this. But this is the work around for now.

[2021-12-27 10:55] DaveDavenport commented on #100
@rvdbreemen  maybe we can add a button that calls:

[code]
or even just starts the portal?

[2021-12-27 11:17] rvdbreemen commented on #100
Yep, that's the idea. Just reset the settings...

[2021-12-27 12:18] drstikko commented on #100
sounds good

[2021-12-27 12:25] DaveDavenport commented on #100
Added an PR: #101

[2021-12-29 11:52] erwinwildenburg commented on #88
Hardware:
Remeha Calenta Ace 40c
Evohome (R8810A1018)
Nodo OTGW 2.3 with USR (presolderd)

I think I have the same problem. Using a Samsung travel charger 5v/2A with a short 0.25m cable solved the power issue partly.

When using it with only USB power it works fine. When plugging in the network cable after a minute or so otmonitor gives the message: "High power usage!" and then the thermostat disc

[2021-12-29 12:32] rvdbreemen commented on #88
@erwinwildenburg it sounds a bit different to me to be honest. As you use a networkcable, the issue with the USB power and cable has been seen only in combination with wemos. Maybe @tjfsteele could comment on what could be going on with "high power usage".

As you see this message in otmonitor, you could also ask Schelte Bron on his forum here: https://www.domoticaforum.eu/viewforum.php?f=75

[2021-12-31 11:43] rvdbreemen commented on #100
Will include reset button in next release.

[2022-01-01 20:28] SanderV4n opened #106 "Toon: Intermintting error in communication to boiler"
Hi!

I got a version 2.3 OTGW installed between my boiler (Remeha Calenta) and the Toon boiler communication module (ketelmodule). With the latest version (17) I get a pop-up on Toon  that there is no communication with the boiler. These errors seem to last from a few seconds to a few minutes.

On the previous version (16) I did not see these pop-ups, but also did not run it that long as the new r

[2022-01-01 23:25] rvdbreemen commented on #106
@SanderV4n please provide some logs using these instructions:
https://github.com/rvdbreemen/OTGW-firmware/wiki/How-to-debug-the-OTGW-firmware

Share the logs. Or join us on discord to discuss the findings.

[2022-01-02 11:24] SanderV4n commented on #106
Hi @rvdbreemen

Here is the log file attached:
[otgwdump.txt](https://github.com/rvdbreemen/OTGW-firmware/files/7798972/otgwdump.txt)

[2022-01-02 11:32] rvdbreemen commented on #106
@SanderV4n from your log it looks like your OTGW is constantly resetting. You can easily recognize this by seeing the version banner of the PIC coming back all the time. This is the banner: "OpenTherm Gateway 5.1"

This is a result of brownouts on the PCB. You can try using a short high quality USB cable, and a high power adapter (1A+). If this does not work, you need to contact Nodoshop.

[2022-01-02 11:35] #106 closed

[2022-01-02 11:37] rvdbreemen commented on #98
Thanks for reporting it. The setting in the Webui should turn of both blue LEDS. But it was broken when we moved from one to two led signaling. Thus I fixed this in the dev release currently under way, it will be released as part of 0.9.2.

[2022-01-02 11:39] rvdbreemen commented on #78
In the current beta I have been working on improving "slowness" of the webserver, by improving the whole handling of web, mqtt, serial in the main loop. Hopefully this will fix your issue.  I will leave it open as part of 0.9.2 beta phase.

[2022-01-02 14:27] binsentsu opened #108 "DWH Enable flag flipping in case thermostat flag overridden through OTGW config"
Follow up of issue #84 with OTGW firmware 0.9.1
The DHW enabled bit is now read, but is constantly flipping between 1 and 0.
Use case is still the same.
Setup:

- Thermostat always sets DHW_ENABLE =1 within msgID = 0

-  Through HW=0 configuration within OTGW, this behaviour is overridden towards the boiler.

Reason is that the DWH Enable = 1 is read from the T-message, directly published to mqtt.

[2022-01-02 14:32] binsentsu commented on #82
Hereby confirmed to be fixed in 0.9.1. Thanks!

[2022-01-02 16:38] rvdbreemen commented on #108
@binsentsu did you try the beta 0.9.2-beta yet, because I think that should solve this behavior. Could you verify that for me?

[2022-01-02 16:40] rvdbreemen commented on #108
Or wait, is this a new usecase?
Again, could you also provide the logs when using beta 0.9.2 and OTmonitor, just to see if they match now?

[2022-01-02 16:45] rvdbreemen commented on #108
Just went and checked your use-case... I stand corrected, it's a bug in the status sending.
So I will fix it now right away, and update the current beta.
If you could validate that, then I will fix this asap.

[2022-01-03 12:53] mihsu81 commented on #78
Hi @rvdbreemen,
Sorry for the late reply. Version 0.9.1 did improve things a bit but still didn't reach thee responsiveness of v0.8.x.
I'll try v0.9.2 when released.
Thanks.

[2022-01-03 12:57] rvdbreemen commented on #78
No problem. We keep moving the project forward. The v0.9.2 beta release is much more responsive as some change were made to improve that. If you join the community the you can help test the beta.

[2022-01-03 18:58] mihsu81 commented on #78
I've compiled the main branch, and flashed it, but it appears to be as slow as v0.9.1.
At this point I'm beginning to wonder if there's something wrong on my side. 😁
I'll do a factory reset and see if it helps at all.

[2022-01-03 19:15] rvdbreemen commented on #78
Well,if you compile the mail branch you will get v0.9.1 ;-)  You can simply join the discord channel and pick up the binary buids from the beta tester channel. But if you building your own binary, please switch to the dev branch, that's where the beta v0.9.2 lives at this point.

[2022-01-03 19:28] mihsu81 commented on #78
Yeah, just realized 15 minutes ago that it was still v0.9.1. 🤣 I should have payed better attention. 😜 Sorry.
I've switched to the dev branch and i can see now that the build is 0.9.2-beta+491dd26.
But i'm seeing the same issue.
I'll try the builds from your discord channel.
If those don't help either I'll flash it over UART and erase it before.
It's crazy that even when only MQTT traffic is enabl

[2022-01-03 19:52] rvdbreemen commented on #78
Just let me know when you get to the discord, because I can add you to the betatester channel.

[2022-01-08 10:46] erwinwildenburg commented on #88
Hi,

I had some time to look at this again.
It turns out updating the firmware to 5.2 fixed the problem for me.

The changelog also mentions a lot about voltage:
https://otgw.tclcode.com/changelog.html

[2022-01-08 10:49] rvdbreemen commented on #88
@erwinwildenburg that's great news that the firmware update fixed your issue. Then there must have been a smartpower issue in your case, because that is the core of the change on the 5.2 firmware if I am not mistaking.

Thanks for letting me know.

[2022-01-08 18:00] rvdbreemen commented on #108
fixed in release 0.9.2

[2022-01-08 18:00] #108 closed

[2022-01-08 18:01] rvdbreemen commented on #100
Fixed in release 0.9.2

[2022-01-08 18:01] #100 closed

[2022-01-08 18:01] rvdbreemen commented on #98
fixed in release v0.9.2

[2022-01-08 18:01] #98 closed

[2022-01-08 18:02] rvdbreemen commented on #85
This selective mqtt discovery feature was merged and released in v0.9.2. To remove unwanted topics from configuration, you can change mqttha.cfg

[2022-01-08 18:02] #85 closed

[2022-01-08 18:04] rvdbreemen commented on #78
Slowness what caused by incoming topics repeatedly firing with home assistant online. This should not happen, but happened anyway, this was fixed by correctly detecting a restart cycle, you need to see HA go offline, and then come back online.

[2022-01-08 18:04] #78 closed

[2022-01-08 18:04] rvdbreemen commented on #46
This was fixed in v0.9.0 if I remember correctly.

[2022-01-08 18:04] #46 closed

[2022-01-09 20:46] STemplar commented on #10
Hi Robert, here my first attempt:
[OTGW Remeha lookuptable.txt](https://github.com/rvdbreemen/OTGW-firmware/files/7835905/OTGW.Remeha.lookuptable.txt)

[2022-01-09 21:02] STemplar commented on #10
Master MemberID Code (Data-ID 2 LB):
Remeha <11>
Master product type and version of twee Remeha thermostats (Data-ID 126 u8 u8):
qSense v1.2 <35 12>
iSense v27 <32 27>

[2022-01-09 22:42] rvdbreemen commented on #10
So we need a way to collect information ;-)

[2022-01-09 22:47] STemplar commented on #10
Indeed, perhaps the easy way out is display the byte fields andd ask for people to post the accompanying thermostat model info in the Discord channel?

[2022-01-23 22:28] ajongen opened #117 "MsgID 100 "RoomRemoteOverrideFunction" is not always set to 0 when Thermostat resumes program"
While trying to enhance the iphone.html remote control for my thermostat such that it would also accept TC commands and have a "Resume Program" button, I noticed that the RoomRemoteOverrideFunction-data value (MsgID 100) in the OTGW is not updated correctly in all cases. It is set correctly to 0 when sending a TT=0 or TC=0 command to the OTGW. But if the program is resumed by the thermostat itself

[2022-01-24 05:55] rvdbreemen commented on #117
Hi @ajongen

Thanks for reporting this issue. I will look into this.

Robert

[2022-01-24 06:50] rvdbreemen commented on #117
Can you provide logging from both OTmonitor and the OTGW firmware. So I can investigate what the Data-Id values are that are sent by your boiler and how the firmware translates them.

Thanks
Robert

[2022-01-24 22:10] ajongen commented on #117
Hi Robert,

See the logging from the OTmonitor in the attached txt-file. I am not sure which logging I can get directly from the OTGW firmware but I attached 2 screenshots from the OTGW firmware page.

The starting point for the logging was the thermostat running it's program (ID100=0). At 21:59:38.418731 I issued the Command (via websocket): TC=19.5. This set ID100 to 00000001 and the Remote over

[2022-01-24 22:18] rvdbreemen commented on #117
Just use a tool like putty to connect to port 23 to find debug information.

Read here more about debug:
https://github.com/rvdbreemen/OTGW-firmware/wiki/How-to-debug-the-OTGW-firmware

The debug log and the OTmonitor log at the same time would be most helpful.

[2022-01-24 22:24] rvdbreemen commented on #117
I also noticed in your screenshot that you are not using the MQTT integration option. Is that on purpose?

[2022-01-24 22:30] rvdbreemen commented on #117
The OTmonitor program that you use communicates with PIC and thus my firmware on the ESP does nothing more than just send all serial data over the network.

That why I ask if you could share both logs of the OTmonitor and the ESP firmware, as both decode indepently the OT message and translate it to output.

If you use a home automation like home assistant or Domoticz or OpenHAB than you would ben

[2022-01-24 22:30] ajongen commented on #117
Will try that (debug via putty) tomorrow.

And no, ommiting the MQTT integration is not on purpose. I am not familiar with MQTT and thought I would need something extra when turning it on. But you say I can select the MQTT OT msg enable button without changing anything else?

![image](https://user-images.githubusercontent.com/98223356/150875933-2dba09a0-4663-4b89-a71e-b9aa18919fa9.png)

[2022-01-24 22:33] rvdbreemen commented on #117
No, you would need a MQTT broker. The easiest would be Home Assistant with an MQTT Addon.

The option you point out is explained I. The wiki too, it enables full OT message logging to MQTT. You do not need that at this time.

btw MQTT is not needed for debug logging purposes. You will see once you use putty to telnet into the ESP. It has a lot of debug info even without MQTT.

[2022-01-24 22:33] ajongen commented on #117
Oeps... I accidently closed this one....

[2022-01-24 22:39] ajongen commented on #117
I am not using Domoticz with the OTGW since it was broken with the 0.92 release ;-)  which let me start using the OTmonitor. This now nicely gives me the possibility to use a light weight website for remote control. I have Domoticz running on the same RPI as the OTmonitor and might try that one later this week using it with MQTT after upgrade to 0.93.

[2022-01-25 05:52] rvdbreemen commented on #117
The version 0.9.3 fixes the issue with native legacy integrations like Domoticz / Home Assistant. There was a serial handling bug in release 0.9.2.

I look forward to the logging of the ESP firmware to actually see what’s going on.

[2022-01-25 07:18] ajongen commented on #117
Hereby the logging from the ESP firmware and OTmonitor in the attached txt-files.

The starting point for the logging was again the thermostat running it's program (ID100=0). After some time I issued the Command (via websocket): TT=19.5. This set ID100 to 00000011 and the Remote override Temp to 19.5. At about 08:07:30 (timestamp in ESP logfile differs 1 hour from OTmonitor logfile) I pushed the h

[2022-01-25 07:22] rvdbreemen commented on #117
The ESP timestamp is UTC... so yeah, it's one hour behind.

[2022-01-25 07:37] rvdbreemen commented on #117
Looked at both logs, see exactly the same results. That's a good thing btw. As you can see in the logs, we are looking at the gateway behaviour. You say you expected the ID100 to go back to 0, but in the documentation of the gateway it says this:

`Read-Data SetPointOverride (ID=9)
The gateway sends a Read-Ack message with the last configured override setpoint value. Initially the override room se

[2022-01-25 08:32] ajongen commented on #117
I think you are right. All together I might be looking for information that is not available. For the remote control I want to know the status the thermostat is in, independently of how it got there, i.e. independent of the used input (manual or remote). But I noticed that when I manually put the thermostat e.g. in Continue-mode, a command call TT=0 or TC=0 will not set it back to program mode. So

[2022-01-25 09:25] rvdbreemen commented on #117
No problem. I will close the issue for now.

[2022-01-25 09:25] #117 closed

[2022-01-25 21:04] rlagerweij commented on #74
i'm interested in this process. From the look of it you have a small typo. it should read "-b $SPI_BLOCK"  and not what is there currently, which is "-b $SPI_PAGE"

[2022-02-05 09:53] Roos-AID commented on #63
I looked at this when making changes for the MQTT HA autodiscovery for sensors.  The key difference is that DB18B20 class of devices is using onewire protocol, allowing multiple sensors on a GPIO pin.
The DHT22 requires a GPIO pin for each device individually.
So, if we restrict it to one DHT22, I can see if I can implement this.

[2022-02-06 20:23] rlagerweij commented on #74
additionally, you are using memory mapped flash addresses instead of physical memory locations. i.e. the SPI_START should be 0x200000 instead of 0x40400000. same for SPI_END, so subtract 0x40200000 from that as well

[2022-02-06 21:13] jvwdev commented on #74
@rlagerweij thank you for posting what you found! Do you have it in a working state? When I receive my order of new boards, I'll give it a shot

[2022-02-07 11:28] rlagerweij commented on #74
I have the littlefs part working, but I am not working on the arduino-cli part.

[2022-02-14 06:45] bluewalk commented on #30
@rvdbreemen I am seeing loads of publishes to topics like `otgw/value/otgw-XXX/ch_enable`, `otgw/value/otgw-XXX/centralheating` etc with the same value over and over.

Would it be possible to add a little if statement comparing the new value with the old value and __only__ publish when the value changes?

Reason I'm asking is that software using these topics get flooded with the same value multipl

[2022-02-14 06:58] rvdbreemen commented on #30
@bluewalk wat software are you using? The topic seem to come from the OTmonitor software and not from the ESP firmware. I am correct?

[2022-02-14 07:06] rvdbreemen commented on #30
Rereading your request. Your suggestion has been asked before. The topic is frequently updated because the status is send frequently. What is the reason this might be a problem for you?

[2022-02-14 07:17] bluewalk commented on #30
At the moment it's flooding logs of my domotics and updating the value in my domotics with the same value seems unnecessary and redundant (beetje onnodig). Aside from flooding the MQTT server but it's supposed to be able to handle that though.

[2022-02-14 07:24] bluewalk commented on #30
Great, thanks! If I have time I might have a look and create a PR 👍

[2022-02-14 07:30] rvdbreemen commented on #30
If you have some time to spent then a PR is more than welcome.

Actually there is a data model for all values of OpenTherm. I even have an old branch for publish on change logic. I really need to refactor that code.

[2022-02-15 12:49] fhennies opened #121 "Idea for new feature: Additional local temp sensors, e.g. one-wire DS18b22"
Hej,

have you ever considered to add a local temp-sensor readout to the firmware, using one of the unused ESP pins? With the one-wire sensors one pin can serve several sensors. Using this would require a modification of the nodoshop pcb, but from what I can see this should be doable for several GPIOs (I have the old hardware).

Why would I or anyone want this? Our boiler is actually a heat exchan

[2022-02-15 14:18] fhennies commented on #121
Thank you, thats great!

[2022-02-15 15:38] bluewalk commented on #30
I did a quick hack of adding a check to each `is_value_valid` in the print functions to compare `value` to either `_value` or `OTdata.u16()` which seems to work. It ain't pretty but functions for now.

Looking forward to your refactored code regarding sending the MQTT messages :-)

[2022-02-28 18:04] pimw1 opened #122 "Home Assistant MQTT: The 'send_if_off' and 'hold_modes' option is deprecated, please remove it from your configuration"
The Home Assistant MQTT options 'send_if_off' and 'hold_modes' options are deprecated, this is visible from Home Assistant core-2022.3.0b1 onwards. As a result of this, the following warning appears in the logs of Home Assistant:

[code]

As per my understanding, rework has been done on the MQTT climate preset modes, hence raising this warning. More info about the Home Assistant MQTT climate prese

[2022-03-07 22:57] pimw1 commented on #122
This actually might be a bug in Home Assistant: https://github.com/home-assistant/core/pull/67661
I would propose to keep any research on-hold until 67661 is merged. I'll check after that and report back here if the issue is gone.

[2022-03-08 08:29] pimw1 commented on #122
67661 is merged. I've installed Home Assistant 2022.3.2 and the error is gone. I'll close this issue. Thank you for your help and my apologies for the inconvenience.

[2022-03-08 08:29] #122 closed

[2022-03-12 09:41] fhennies opened #123 "Use D8 for DS18B20 prevents boot"
I just discovered that using D8 (GPIO 15) toconenct a DS18B20 with the recommended pull-up prevents boot. I haven't investigated much further, but it seems that GPIO 15 is involved in bootmode selection at start-up. Maybe the wiki could be updated with this information: https://github.com/rvdbreemen/OTGW-firmware/wiki/Using-DS18B20-sensor-with-ESP-firmware

[2022-03-19 13:54] rvdbreemen commented on #123
@fhennies thanks for reporting the issue. I removed D8 from the documentation.

[2022-03-19 13:54] #123 closed

[2022-04-02 11:02] marklagendijk opened #125 "Implement `availibility` topic"
Currently HomeAssistant doesn't see any of the OTGW sensors etc after a restart of HomeAssistant.
This is because HomeAssistant will check the MQTT broker when starting up, and any devices that are no longer are marked as 'Unavailable'.

The solution for this is the MQTT `retain` flag. When a MQTT message is sent with `retain` the broker will remember the message and send it to any new subscribers

[2022-04-02 13:15] rvdbreemen commented on #125
@marklagendijk the retain flag is used, but that's not enough. The firmware actually detects the reboot of HA. But sometimes it does not work, could you go into the settings of the firmware and change the setting for HA detection.

If that works for you, please let me know.

[2022-04-06 12:06] marklagendijk commented on #125
@rvdbreemen I did have that feature turned on.

Why isn't using the retain flag enough? Do you know how other integrations solve this issue?
I would expect that having the retain flag on _all_ messages (both the autodiscovery ones, and the actual state ones) should be enough.

When I have time I will test which messages are currently retained.

[2022-04-06 21:23] rvdbreemen commented on #125
@marklagendijk I don't know why the retain flag on the integration is not enough. But it what we have found so far, if you have a clue why then please tell me.

On the actual state ones, it's deliberate that there is no state retain because all values are transit values. Normally within seconds to at best a couple of minutes values recover for the state value.

If you have a better solution that w

[2022-04-08 18:01] marklagendijk commented on #125
@rvdbreemen I researched the topic a bit.
I still don't know why just retaining the auto discovery messages does not work, however I think I found a way to solve it, and improve something else at the same time.

- A MQTT device can configure an [availability_topic](https://www.home-assistant.io/integrations/sensor.mqtt/#availability_topic) for sensors in HomeAssistant. On this topic the device wil

[2022-04-08 18:25] rvdbreemen commented on #125
Hi @marklagendijk

Thanks for checking out and suggesting a solution. The OTGW firmware actually does already do this, including the LTW.

Just go and look in the MQTTstuff.ino Line 244. That's where the last will topic is set.

Then the online status you can find on Line 265.

There is also code to detect if HA goes offline and comes back online.

So I am not sure why you see unavailable topics.

[2022-04-08 18:44] marklagendijk commented on #125
Hey Robert,
Thanks for your response. Based on the code I am indeed surprised that it does not work, yet.
My guess would be that there must be a bug somewhere.

When I get the time I will try to debug the issue using a MQTT client, by verifying all MQTT messages (both content and retention) during several scenarios.
I can't promise yet when this will happen, hopefully within a week or two.

Mark

[2022-04-08 19:45] rvdbreemen commented on #125
Hey Mark,
Thanks for your help. Please just take your time, you could join my discord community for realtime chat. But if you prefer this slow chat, that's just fine with me.

Hopefully you can find what's going on, and if so, I will happily fix it.
Robert

[2022-05-11 09:59] ajongen opened #126 "Bug or feature in REST GET API?"
Hi Rob,

I was trying to get some OTGW info (flame status, dhwmode, chmode, faultindicator etc.) into my domoticz using the REST GET API provided by your OTGW-firmware. I wanted to do this by processing the status information on bit level. It all seemed to work fine but in the end I found some strange / unexpected behaviour in polling the STATUS ID=0 information. When calling:

http://192.168.178.

[2022-06-05 10:11] rvdbreemen commented on #126
That must be either a bug or the data is really 0.

[2022-06-05 10:13] rvdbreemen commented on #125
I fixed a bug in 0.9.5 that caused status to be a Boolean instead of Online/Offline.

So maybe you can verify if that fixed your reported issue.

[2022-06-05 10:14] #125 closed

[2022-06-05 11:14] hvxl commented on #126
Maybe something changed that you don't realize. The 512 corresponds to the DHW enable bit, which is controlled by the thermostat. Many programmable thermostats will set this bit during the times someone is expected to be at home and awake (the "opstaan" and "thuiskomen" intervals on a Honeywell thermostat), and clear it otherwise (the "vertrekken" and "slapen" time blocks). Simple thermostats may

[2022-06-05 11:50] ajongen commented on #126
In the meantime I have adjusted my dzVents LUA script in Domoticz to use the content of

http://192.168.178.32/api/v1/otgw/telegraf

instead, and extract the different status information from that output using something like

local searchstr = {'flamestatus' , 'chmodus' , 'dhwmode', 'faultindicator'}

This gives very stable and correct information over time. Since the subsequent calls I made with

[2022-06-05 12:09] hvxl commented on #126
While experimenting, I discovered that the api call reports the bit as it is returned by the boiler, not as it was sent by the thermostat. Apparently your boiler sometimes changes the bit in its response.

The high byte of ID0 is the master status. In my opinion it should reflect the information provided by the thermostat, while the low byte, the slave status, should be taken from the response fro

[2022-06-05 16:22] rvdbreemen commented on #126
Thanks @hvxl for pointing that out. I thought I fixed that completely. It works for MQTT. But I missed doing the data object like that, so the REST API still contains the older code.

This will get fixed in next release.

[2022-06-07 05:33] rvdbreemen commented on #126
@ajongen would you like to validate the fix for me?

[2022-06-07 17:19] marklagendijk commented on #125
Given that the code was already doing the right things, it makes sense that it was something little like this.
I'll upgrade to the latest firmware and report if the issue ever comes back, but I don't think it will.

[2022-06-07 17:22] renovate[bot] opened #129 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

This repository currently has no open or pending branches.

## Detected dependencies

None detected

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2022-06-07 17:24] rvdbreemen commented on #125
@marklagendijk yes, I agree, but what happened that there was some logic that would detect the "device" going offline, and it would work with "true" and "false" instead of "online" or "offline".

I fixed that now, so now all LWT logic will use the right way of signalling the online status of the device.

[2022-06-07 17:26] marklagendijk commented on #125
Yeah, these bugs are the hardest to find, because the code looks sensible, but there is a protocol-specific detail that is wrong.

[2022-06-07 21:45] ajongen commented on #126
@rvdbreemen I have not yet updated the firmware since initial installation so that would be a first timer. Is it possible to do while keeping all settings? If you sent me the instructions I will give it a try.

[2022-06-07 21:58] rvdbreemen commented on #126
@ajongen well, indeed you migt wanna update. Anything before the 0.9.x series had bad OpenTherm decoding issues. I solved that last December, eversince I had a good fix.

If you like I can share some binaries with you, you could validate them. The easiest way is to save your settings.ini from your firmware, to you machine, and upload it after upgrading. That way your setting should work again afte

[2022-06-08 06:14] ajongen commented on #126
I have got 0.9.2+e9c35e9 running very stable (only installed the OTGW in
februari I think). Binaries are the easiest I think. I am running the older
PIC but I read in github that the code is now working for both PIC models.

Op di 7 jun. 2022 om 23:58 schreef Robert van den Breemen <
***@***.***>:

[2022-06-09 09:20] ajongen commented on #126
Hi Robert,

As described previously I have recoded my stuff to use the telegraf call
instead of a single messageID call. It seemed to give correct information
at the beginning but now (having some weeks of data) I also see some
incorrect information using that call. Does the telegraf call also use the
print_status method that you have updated?

Cheers, Armand

Op wo 8 jun. 2022 om 08:14 schreef Ar

[2022-06-15 11:27] PvdGulik opened #130 "No realtime info anymore since 0.9.5"
After updating tot 0.9.5 everything seems to work fine. Still getting info in Domoticz and Homebridge. But missing the realtime info on de webpage of the OTGW it-self. I see the buttons Home and Advanced, and all the sub-pages under Advanced. But nowhere the info on the Home-page as in 0.9.3. I'm not sure if I runnen 0.9.4. so cannot confirm that is worked in 0.9.4.

But is seems like it changed w

[2022-06-16 05:49] rvdbreemen commented on #130
When it says PS=1, no UI-updates. It detected a PS=1 command, after that the PIC goes quiet and does no longer provide the update OT data id's so that they can be decoded by the firmware. So the data is simply not forwarded to the firmware, not sure what is going on. Could you do a debug log (port 23) and to show what is going on?

[2022-06-27 08:43] ajongen commented on #126
@rvdbreemen : any progress on this issue? Do you want me to test something or are you planning to merge the changes into a next release?

[2022-06-27 13:44] rvdbreemen commented on #126
@ajongen issue has been fixed in dev-branch. Not released yet.

[2022-06-27 13:46] rvdbreemen commented on #130
@PvdGulik without additional information I cannot help or change behavior.

[2022-06-27 13:46] #130 closed

[2022-07-27 16:11] rotilho opened #131 "Are there any way to block the public wifi when router is offline?"
I had to disconnected my router for several hours few days ago and I noticed the gateway starts the public wifi after some time but reconnects if my router comes back online.

Are there any way to block that? I don't want to expose my boiler if my router is offline so it would great if the gateway stick to the configured wifi.

[2022-08-03 19:45] PvdGulik opened #133 "Support for 5.4"
Firmware 5.4 is out, does your firmware support the latest firmware?

[code]

thanks!

[2022-08-18 05:43] rvdbreemen commented on #133
Yes, actually I worked on that a while ago. But could not get it to work properly. I need to revisit this. Thanks for the gently reminder.

[2022-08-18 05:46] rvdbreemen commented on #131
Well. The whole setup was made so with intermittent WiFi it just recovers. No open WiFi. But after an extended period it will assume it needs to be reconfigured that's why you see the WiFi auto configuration portal pop up.

If you restore wifi it should recover without an issue, even when it is already in configuration mode.

Not sure how to improve this behavior to be honest without losing functi

[2022-08-18 06:01] rotilho commented on #131
I understand that for first install it totally makes sense but after it's already configured I'd expect that I would have to reset it to pair to a new network. This is similar behavior to ESPHome (when the wifi credentials are not compiled together) and most of Zigbee devices.

I just want to avoid that technical issues with my router cascade to my boiler being exposed.

[2022-08-18 06:32] rvdbreemen commented on #131
So you are suggesting that you should reset after a certain amount of time to recover when an WiFi PSK or SSID changes?

It that the fix your are proposing?

[2022-08-21 19:54] rotilho commented on #131
No no no, sorry. What I'm proposing is:

- If there's no wifi configured: gateway create a public wifi so we can configure it
- If there's an wifi configured and it's not connected: keep retrying every X time
- If there's an wifi configured and I want to change the wifi: I need to manually reset the gateway with the physical reset button in the gateway

[2022-09-05 12:08] SiemOpschoor opened #134 "Add COOL command"
Hello there,

Now is possible to add MQTT set command for the OTGW command 'COOL' (ID 000:HB2: Master status: Cooling enable). This is the command for enabling the cooling on the heatpump.

Thanks!

[2022-09-07 11:49] rvdbreemen commented on #134
I will put this in the backlog.

[2022-09-19 12:18] ministryofsillywalks opened #135 "esptool.exe error: argument --chip/-c: invalid choice: 'p'"
I just tried to flash my d1 mini as described in the wiki.
When running the command as described:
`esptool -cp COM6 -cd nodemcu -cb 921600 -cf ino.bin -ca 0x200000 -cf fs.bin`

I get the following error:
[code]

I'm using the latest version of esptool (4.3)

[2022-09-19 12:38] ministryofsillywalks opened #136 "Wiki: Flashing not working with Espressif Flash Tool 3.9.3"
I followed the wiki on installing via ui.
Following the link Espressif only offers the download of the flash tool in version 3.9.3.
Using that version the flash keeps failing.
I had to dig around the internet for the older version flash_download_tool_3.8.5.exe which worked instantly.

[2022-09-23 13:20] mgrom opened #137 "deleted"
//

[2022-09-23 13:34] #137 closed

[2022-09-29 19:21] 0000vt opened #139 "White screen on Wifi Configure"
Please remove… need to read wiki first

[2022-09-30 07:30] mikeg-de commented on #74
@rlagerweij I struggle to follow your steps to obtain the OTGW-firmware.mklittlefs.bin file. Can you share more details please? Or, @rlagerweij can you add the missing file in the repo instead please?

[2022-09-30 08:33] #139 closed

[2022-09-30 11:32] rvdbreemen commented on #74
There is really no need to compile the firmware yourself, as I precompile all the binary's for you to use. Just get the the binary releases files here: https://github.com/rvdbreemen/OTGW-firmware/releases

[2022-09-30 11:32] #74 closed

[2022-10-01 13:32] gregiOS commented on #88
Hello @rvoosterhout did you manage to resolve the issue with not being able to set room setpoint.
I have the exactly the same issue with my iSense thermostat and DeDritch heater.

[2022-10-09 17:07] melkati opened #141 "Compatible with original PCB at https://otgw.tclcode.com/ ?"
Hi.

I have an old PCB as described at https://otgw.tclcode.com/ (I bought from Node Shop few years ago).

Right now I'm using a remote connection with otmonitor an a ESP8266 with Ser2Net (ESP Easy, really).

Can I use this firmware with it? Any modifications to do?

Thank you!

[2022-10-09 19:27] rvdbreemen commented on #141
Hi

Yes, if you have an ESP8266 nodemcu version then it should work just fine. It was the main reason why I ever started this project myself.

So please just try.  And if you cannot get it to work, just visit the discord community and get help.

Regards
Robert

[2022-10-09 19:27] #141 closed

[2022-10-10 08:42] melkati commented on #141
Hello.

I flashed the firmware OTA and it's working without changes!

Problem is... I can't send any commands...

If I try by MQTT they are ignored.

If I try "http://otgw.local/api/v1/otgw/command/TT=20" I receive:

[code]

I can do http://otgw.local/api/v0/devinfo and I receive:

[code]

![image](https://user-images.githubusercontent.com/11509521/194828074-67373805-0ed7-4f02-a914-0268853a4182.pn

[2022-10-10 09:08] melkati commented on #141
I'll continue on Discord.

[2022-10-18 15:14] bgrr74 opened #142 "wifi page empty after flash"
FYI.

When flashing new Wemos D1 mini with version 21 (OTGW-firmware.0.9.5+4eb7d24.ino.bin) the wif settings page is empty when Wemos  restarts in AP mode.

As work around i flashed the wemos with version 19 (OTGW-firmware.ino.0.9.3+b4b8026.bin). Then the wifi page is working without problems in AP mode and i was able to connect the Wemos to my home wifi.

Upgrade from V19 to V21 worked without pr

[2022-10-18 19:53] rvdbreemen commented on #142
Hi

Thanks for reporting and for finding a work around.

How totally weird. I have to check into what changed over time and if there is a logical explanation.

Regards
Robert

[2022-10-22 05:35] antst opened #143 "separation of values from thermostat and boiler"
I kind of understand that currently MQTT is made to be as compatible as it possible with otmonitor. But, as result, it has the same fundamental issue as otmonitor has (and issue which home assistant integration does not have).

There is no separation for values coming from boiler and thermostat.

For example, there is boiler setpoint control. There are two values coming, one from thermostat (what

[2022-10-22 17:46] tuxick commented on #142
Same problem here.

[2022-10-23 13:43] emkookmer commented on #143
I'm encountering similar problems, also i haven't found a way to detect who is in control (ie. The thermostat of otgw) separating these values  as Antst is suggesting wil help with this

[2022-11-05 14:07] chokays opened #144 "OEM Fault code is shown as Boolean instead of number"
Both OTMonitor (OEM Fault code) as the display of my CV Heater show code 105.

Webinterface of OTGW shows:
OEM Diagnostic code: 126
OEM Fault code: true

Is this expected behavior?

[2022-11-05 16:03] rvdbreemen commented on #144
It's a known issue. It's a bug in my code I need to fix it. 😬

[2022-11-05 16:31] chokays opened #145 "Unexpected spikes in MQTT values Water pressure and Relative Modulation level"
![image](https://user-images.githubusercontent.com/95276985/200130822-27e2a702-a6fa-401e-9f30-f5fe1539b0f9.png)
![image](https://user-images.githubusercontent.com/95276985/200130839-3b462ce2-fce6-4bb2-b3e9-40c266c29198.png)
![image](https://user-images.githubusercontent.com/95276985/200130880-18b11e87-fe2a-434f-8599-182d69609c0c.png)

There are some spikes in the MQTT data shown in Home Assistant

[2022-11-12 20:49] Sidhy commented on #142
I can confirm both info and WiFi page stays blank when flashing latest firmware, thanks for the hint using a different firmware will test this first,

[2022-11-15 12:09] JeroenvdV opened #146 "Comparison with diyless hardware, firmware, library and other alternatives"
Hi,

I think it would be useful to expand the README.md and add some info comparing this firmware and its capabilities to alternatives. So far I have found the following:

A library to interface with OpenTherm: https://github.com/ihormelnyk/opentherm_library
An Arduino-adapter for OpenTherm (seems simpler than the OTGW): http://ihormelnyk.com/opentherm_adapter
An Arduino-sketch for the ESP8266 to

[2022-11-15 15:29] JeroenvdV commented on #146
I also have a few open questions about the functionality of each system and how they could even work together.

- This OTGW-firmware seems to be very full-featured. What software changes would be needed for this to work in conjunction with http://ihormelnyk.com/opentherm_adapter in place of the OTGW device and do away with the OTGW hardware entirely?
- If I understand correctly, this firmware is t

[2022-11-23 22:13] DaniilMir commented on #146
I just have the same question.
I was playing around with Ihor Melnik's project and was thinking how to add there a webserial so I could integrate it with hasssio.
It the end I found this project and did a Frankenstein.  First NodeMCU is running opentherm adpater in a gateway mode and a second NodeMCU  is running OTGW Firmware and tallking to first device via serial =))))
and yes, it works )

Runni

[2022-11-23 22:19] DaniilMir commented on #6
A nice to have feature for secure environments or for the ones who are using cloud MQTT servers.

[2022-11-24 05:25] rvdbreemen commented on #146
Cool that it works. Link to your code base. So I can see if I could support it in the future. Thanks 🙏

[2022-11-24 19:12] DaniilMir commented on #146
Here is the code. I used a default one without any changes.
https://github.com/ihormelnyk/opentherm_library/blob/master/examples/OpenThermGatewayMonitor_Demo/OpenThermGatewayMonitor_Demo.ino

[2022-11-24 19:28] rvdbreemen commented on #146
@DaniilMir could you explain a bit more what you did? I am not understanding it yet. So let me know.

[2022-11-24 20:24] DaniilMir commented on #146
@rvdbreemen Sure.

1. I took one NodeMCU board and flashed it with the "OpenThermGatewayMonitor_Demo.ino"  sketch
2. Connected this board to the DIY OpenTherm adapter based on the [https://github.com/jpraus/arduino-opentherm](url)
3. Took the second NodeMCU board and flashed it with your OTGW Firmware
4. Connected serial ports of both Node MCU's together.
So the first node MCU is providing serial

[2022-11-25 16:34] benjaminvdb opened #148 "OTA PIC firmware upgrade"
I have an OTGW (PIC16F1847) with a WeMos D1 module from Nodo-Shop. The PIC has firmware 6.2 and the WeMos D1 firmware 0.9.5 (the latest).

Earlier I flashed the PIC firmware using a USB cable, but this only seemed to work if the WeMos was removed from the OTGW board. Now that the OTGW is in a housing, I must disassemble it before I can flash the PIC using a USB cable. It would therefore be great i

[2022-11-26 21:33] dwar commented on #131
I think this is a security vulnerability!
The wifi credentials are stored on esp.
- Jam the wifi until the recovery AP should be up. (in my case random dropouts :-( )
- Connect to the AP before the esp reconnects to the original wifi.
- Upload new firmware which exposes the wifi password.
- Your in

[2022-11-30 15:14] marcoCasamento opened #149 "MQTT broker not connected"
Hi and thanks for the great FW.
I use the firmware on a Nodosvop v2 with a PIC16F88 on PIC FW 5.0.1 and MCU FW 0.9.5+4eb7d24 (30-05-2022).
It's configured on a MQTT server that I run in a container and seems to works just fine, but I've noticed that HomeAssistant about every 10/15 minutes say that all entities provided by the MQTT integrations are unavailable.
If I connect through telnet on the MC